<div class="modal-header">
	<h4 class="modal-title">{{translationObj.newlink.formtitle}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="editObjForm">
		<div class="form-group">

			<div class="col-xs-7">
				<labelrequired for="linkname" label="translationObj.newlink.fieldlinkname"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="linkname" class="form-control" id="linkname" ng-model="newObj.linkname" maxlength="40" required>
				</div>
			</div>

			<div class="col-xs-6" ng-if="languages.supportenglish==1">
				<labelrequired for="label_en" label="translationObj.newlink.fieldlabelen"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="label_en" class="form-control" id="label_en" ng-model="newObj.label_en" maxlength="2000" ng-required="languages.supportenglish==1">
				</div>
			</div>

			<div class="col-xs-6" ng-if="languages.supportfrench==1">
				<labelrequired for="label_fr" label="translationObj.newlink.fieldlabelfr"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="label_fr" class="form-control" id="label_fr" ng-model="newObj.label_fr" maxlength="2000" ng-required="languages.supportfrench==1">
				</div>
			</div>

			<div class="col-xs-6">
				<labelrequired for="position" label="translationObj.newlink.fieldlinkposition"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="position" ng-model="newObj.position" required>
						<option ng-repeat="wslinkposition in wslinkpositions" value="{{wslinkposition.code}}">{{wslinkposition.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-6">
				<labelrequired for="linkindex" label="translationObj.newlink.fieldlinkindex"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="number" name="linkindex" class="form-control" id="linkindex" ng-model="newObj.linkindex" min="1" max="99" required>
				</div>
			</div>

			<div class="col-xs-6">
				<labelrequired for="linktype" label="translationObj.newlink.fieldlinktype"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="linktype" ng-model="newObj.linktype" required ng-change="control.onLinkTypeChange(newObj);">
						<option ng-repeat="wslinktype in wslinktypes" value="{{wslinktype.code}}">{{wslinktype.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-6" ng-show="newObj.linktype=='1'">
				<labelrequired for="linkpage" label="translationObj.newlink.fieldlinkpage"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="linkpage" ng-model="newObj.linkpage"  ng-required="newObj.linktype=='1'" ng-change="control.onLinkPageChange(newObj);">
						<option ng-repeat="wspage in wspages" value="{{wspage.name}}">{{wspage.name}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-6" ng-show="newObj.linktype=='1'">
				<labelrequired for="linksection" label="translationObj.newlink.fieldlinksection"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="linksection" ng-model="newObj.linksection" ng-required="newObj.linktype=='1'">
						<option ng-repeat="wssection in wssections" value="{{wssection.sectionname}}">{{wssection.sectionname}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-6" ng-show="newObj.linktype=='2'">
				<labelrequired for="linkdocumentid" label="translationObj.newlink.fieldlinkdocumentid"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="linkdocumentid" ng-model="newObj.linkdocumentid" ng-required="newObj.linktype=='2'">
						<option ng-repeat="wsdocument in wsdocuments" value="{{wsdocument.id}}">{{wsdocument.documentname}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-6" ng-show="newObj.linktype=='3'||newObj.linktype=='4'">
				<labelrequired for="linkexternal" label="translationObj.newlink.fieldlinkexternal"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="linkexternal" class="form-control" id="linkexternal" ng-model="newObj.linkexternal" maxlength="500" ng-required="newObj.linktype=='3'">
				</div>
			</div>

		</div>
	</form>
	<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
		{{translationObj.newlink.formerrormessage}}
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newlink.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()">{{translationObj.newlink.buttontitlekeepchanges}}</button>
</div>
