<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newmember.formtitleeditmember}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="col-xs-7">
				<labelrequired for="relation" label="translationObj.newmember.fieldrelation"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
					<select class="form-control" id="relation" ng-model="newObj.contacttype" required autofocus>
						<option ng-repeat="contacttype in contacttypes" value="{{contacttype.code}}">{{contacttype.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-7">
				<labelrequired for="name" label="translationObj.newmember.fieldmember"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="name" class="form-control" id="name" value="{{newObj.member.firstname}} {{newObj.member.lastname}}" disabled required>
					<span class="input-group-addon" ng-hide="newObj.memberid!=null&&newObj.memberid!=''">
						<search-member-button-glass is-full-copy="true" callback="null" is-form-pristine="1!=1" member="newObj.member"></search-member-button-glass>
					</span>
				</div>
			</div>

			<div class="col-xs-7">
				<labelrequired for="label_fr" label="translationObj.newmember.fieldincaseofemergency"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
					<select class="form-control" id="language" ng-model="newObj.incaseofemergency" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newmember.formerrormessage}}
		</div>
		<div class="alert alert-danger" id="editObjMemberAlreadyExists" style="display:none;">
			{{translationObj.newmember.formerrmemberalreadyexists}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newmember.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newmember.buttontitlekeepchanges}}</button>
	</div>
</form>