<div class="form-group row">
	<div class="grid">

		<form>
			<h3>{{translationObj.details.titledays}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editTestSessionDay({})" ng-disabled="currentTestsession.islock"></button></h3>
			<div ng-repeat="day in currentTestsession.days" class="blackcurvyborder">
				<h3>{{translationObj.details.titleday}} {{$index + 1}}</h3>
				<div class="row">
					<div class="col-xs-2">
						<label for="testdate">{{translationObj.details.fielddate}}</label>
							<input type="date" class="form-control" id="testdate" ng-model="day.testdate" disabled>
					</div>
					<div class="col-xs-2">
						<label>&nbsp;</label>
						<div class="input-group">
							<span>
								<child-edit-button 			obj="day" objlist="currentTestsession.days" callback="editTestSessionDay(day)" is-form-pristine="currentTestsession.islock"></child-edit-button>
								<child-delete-button 		obj="day" objlist="currentTestsession.days" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-delete-button>
								<child-undelete-button 	obj="day" objlist="currentTestsession.days" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-undelete-button>
								<child-status-indicator obj="day"></child-status-indicator>
							</span>
						</div>
					</div>
				</div>

				<form >
					<div id="childform1">
						<h3>{{translationObj.details.titleperiods}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editTestSessionDayPeriod({}, day)" ng-disabled="currentTestsession.islock"></button></h3>
						<div ng-repeat="period in day.periods" class="blackcurvyborder">
							<h3>{{translationObj.details.titleperiod}} {{$index + 1}}</h3>
							<div class="row" id="childform1">
								<div class="col-xs-2">
						      <label for="arena" ng-show="$index==0">{{translationObj.details.fieldarena}}</label>
				      		<select class="form-control" id="arena" ng-model="period.arenaid" disabled>
										<option ng-repeat="arena in arenas" value="{{arena.id}}">{{arena.label}}</option>
				      		</select>
					      </div>
								<div class="col-xs-2">
									<label for="ice" ng-show="$index==0">{{translationObj.details.fieldice}}</label>
									<input type="text" class="form-control" id="ice" ng-model="period.icelabel" disabled>
								</div>
								<div class="col-xs-2">
									<label for="starttime" ng-show="$index==0">{{translationObj.details.fieldstarttime}}</label>
									<input type="text" class="form-control" id="starttime" ng-model="period.starttime" disabled>
								</div>
								<div class="col-xs-2">
									<label for="endtime" ng-show="$index==0">{{translationObj.details.fieldendtime}}</label>
									<input type="text" class="form-control" id="endtime" ng-model="period.endtime" disabled>
								</div>
								<div class="col-xs-2">
									<label ng-show="$index==0">&nbsp;</label>
									<div class="input-group">
										<span>
											<child-edit-button 			obj="period" objlist="day.periods" callback="editTestSessionDayPeriod(period, day)" is-form-pristine="currentTestsession.islock"></child-edit-button>
											<child-delete-button 		obj="period" objlist="day.periods" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-delete-button>
											<child-undelete-button 	obj="period" objlist="day.periods" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-undelete-button>
											<child-status-indicator obj="period"></child-status-indicator>
										</span>
									</div>
								</div>
							</div>

							<form >
								<div id="childform1">
									<h3>{{translationObj.details.titlejudges}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editTestSessionDayJudge({}, period)" ng-disabled="currentTestsession.islock"></button></h3>
									<div ng-repeat="judge in period.judges"  class="blackcurvyborder">
										<div class="row" id="childform1">
											<div class="col-xs-2">
							      		<select class="form-control" id="judgeid" ng-model="judge.judgesid" disabled>
													<option ng-repeat="judge in allJudges" value="{{judge.id}}">{{judge.text}}</option>
							      		</select>
								      </div>
											<div class="col-xs-2">
												<div class="input-group">
													<span>
														<child-edit-button 			obj="judge" objlist="period.judges" callback="editTestSessionDayJudge(judge, period)" is-form-pristine="currentTestsession.islock"></child-edit-button>
														<child-delete-button 		obj="judge" objlist="period.judges" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-delete-button>
														<child-undelete-button 	obj="judge" objlist="period.judges" callback="setDirty()" is-form-pristine="currentTestsession.islock"></child-undelete-button>
														<child-status-indicator obj="judge"></child-status-indicator>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</form>

				</div>
			</div>
		</form>

  </div>
</div>
