<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newgroup.titleeditgroup}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group">

      <div class="col-xs-5">
				<label for="testtype">{{translationObj.newgroup.fieldtesttype}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" ng-model="newObj.testtype" required ng-change="onTestTypeChange(newObj)" ng-disabled="!newObj.skaterMove" >
						<option ng-repeat="type in testtypes" value="{{type.code}}">{{type.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-5">
				<label for="testid">{{translationObj.newgroup.fieldtest}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" ng-model="newObj.testid" required ng-disabled="!newObj.skaterMove">
						<option ng-repeat="testByType in allTestsByType" value="{{testByType.id}}">{{testByType.text}}</option>
					</select>
				</div>
			</div>

      <div class="col-xs-10">
	      <label for="testperiodsid">{{translationObj.newgroup.fieldperiod}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select class="form-control" id="testperiodsid" ng-model="newObj.testperiodsid" required ng-disabled="!newObj.skaterMove">
						<option ng-repeat="period in newObj.periodList" value="{{period.id}}">{{period.fullname}}</option>
		      </select>
	      </div>
      </div>

      <div class="col-xs-5">
        <label for="testlabel">{{translationObj.newgroup.fieldtest}}</a></label>
        <input type="text" class="form-control" id="testlabel" value="{{newObj.testtypelabel}} {{newObj.testtype == 'DANCE' ? newObj.testlevellabel : ''}} {{newObj.testlabel}}" disabled>
      </div>

      <div class="col-xs-2">
        <label for="warmupduration">{{translationObj.newgroup.fieldwarmup}}</label>
        <input type="text" class="form-control" id="warmupduration" ng-model="newObj.warmupduration" ng-disabled="newObj.skaterMove">
      </div>

      <div class="col-xs-3">
        <label for="testduration">{{translationObj.newgroup.fieldtestduration}}</label>
        <input type="text" class="form-control" id="testduration" ng-model="newObj.testduration" ng-disabled="newObj.skaterMove">
      </div>

      <div class="col-xs-3">
        <label for="starttime">{{translationObj.newgroup.fieldstarttime}}</label>
        <input type="text" class="form-control" id="starttime" ng-model="newObj.starttime" disabled>
      </div>

      <div class="col-xs-3">
        <label for="endtime">{{translationObj.newgroup.fieldendtime}}</label>
        <input type="text" class="form-control" id="endtime" ng-model="newObj.endtime" disabled>
      </div>

    </div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newgroup.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="setGroupDefaultValue(newObj)">{{translationObj.newgroup.buttondefaultvalues}}</button>
	<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newgroup.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()"    >{{translationObj.newgroup.buttontitlekeepchanges}}</button>
</div>
