<div class="form-group row">
	<div class="grid">
    <h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
      <div class="col-xs-4">
	      <label for="name">{{translationObj.details.fieldtitlefirstname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="firstname" class="form-control" id="firstname" ng-model="currentWscoach.firstname" maxlength="40" required>
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="name">{{translationObj.details.fieldtitlelastname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="lastname" class="form-control" id="lastname" ng-model="currentWscoach.lastname" maxlength="40" required>
	      </div>
	    </div>
		</div>
		<div class="row">
      <div class="col-xs-4">
	      <label for="email">{{translationObj.details.fieldtitleemail}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="email" class="form-control" id="email" ng-model="currentWscoach.email" maxlength="100">
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="phone">{{translationObj.details.fieldtitlephone}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="phone" class="form-control" id="phone" ng-model="currentWscoach.phone" maxlength="14" format-phone>
	      </div>
	    </div>
		</div>
		<div class="row">
      <div class="col-xs-4">
	      <label for="coachsince">{{translationObj.details.fieldtitlecoachsince}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="coachsince" class="form-control" id="coachsince" ng-model="currentWscoach.coachsince" maxlength="4">
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="coachlevel">{{translationObj.details.fieldtitlecoachlevel}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="coachlevel" class="form-control" id="coachlevel" ng-model="currentWscoach.coachlevel" maxlength="60" required>
	      </div>
	    </div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="dancelevel">{{translationObj.details.fieldtitledancelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="dancelevel" ng-model="currentWscoach.dancelevel" required>
						<option ng-repeat="dancelevel in dancelevels" value="{{dancelevel.code}}">{{dancelevel.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="skillslevel">{{translationObj.details.fieldtitleskillslevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="skillslevel" ng-model="currentWscoach.skillslevel" required>
						<option ng-repeat="skillslevel in skillslevels" value="{{skillslevel.code}}">{{skillslevel.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="freestylelevel">{{translationObj.details.fieldtitledfreestylelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="freestylelevel" ng-model="currentWscoach.freestylelevel" required>
						<option ng-repeat="freestylelevel in freestylelevels" value="{{freestylelevel.code}}">{{freestylelevel.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="interpretativesinglelevel">{{translationObj.details.fieldtitleinterpretativesinglelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="interpretativesinglelevel" ng-model="currentWscoach.interpretativesinglelevel" required>
						<option ng-repeat="interpretativelevel in interpretativelevels" value="{{interpretativelevel.code}}">{{interpretativelevel.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="interpretativecouplelevel">{{translationObj.details.fieldtitleinterpretativecouplelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="interpretativecouplelevel" ng-model="currentWscoach.interpretativecouplelevel" required>
						<option ng-repeat="interpretativelevel in interpretativelevels" value="{{interpretativelevel.code}}">{{interpretativelevel.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="competitivesinglelevel">{{translationObj.details.fieldtitlecompetitivesinglelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="competitivesinglelevel" ng-model="currentWscoach.competitivesinglelevel" required>
						<option ng-repeat="competitivelevel in competitivelevels" value="{{competitivelevel.code}}">{{competitivelevel.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="competitivecouplelevel">{{translationObj.details.fieldtitlecompetitivecouplelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="competitivecouplelevel" ng-model="currentWscoach.competitivecouplelevel" required>
						<option ng-repeat="competitivelevel in competitivelevels" value="{{competitivelevel.code}}">{{competitivelevel.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="competitivesynchrolevel">{{translationObj.details.fieldtitlecompetitivesynchrolevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="competitivesynchrolevel" ng-model="currentWscoach.competitivesynchrolevel" required>
						<option ng-repeat="competitivelevel in competitivelevels" value="{{competitivelevel.code}}">{{competitivelevel.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="competitivedancelevel">{{translationObj.details.fieldtitlecompetitivedancelevel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="competitivedancelevel" ng-model="currentWscoach.competitivedancelevel" required>
						<option ng-repeat="competitivelevel in competitivelevels" value="{{competitivelevel.code}}">{{competitivelevel.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
      <div class="col-xs-4">
	      <label for="availabilitytext_en">{{translationObj.details.fieldtitleenglishavailabilitytext}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="availabilitytext_en" class="form-control" id="availabilitytext_en" ng-model="currentWscoach.availabilitytext_en" maxlength="2000" required>
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="availabilitytext_fr">{{translationObj.details.fieldtitlefrenchavailabilitytext}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="availabilitytext_fr" class="form-control" id="availabilitytext_fr" ng-model="currentWscoach.availabilitytext_fr" maxlength="2000" required>
	      </div>
	    </div>
			</div>
		</div>
		<div class="row">
      <div class="col-xs-4">
	      <label for="competitivetext_en">{{translationObj.details.fieldtitleenglishcompetitivetext}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="competitivetext_en" class="form-control" id="competitivetext_en" ng-model="currentWscoach.competitivetext_en" maxlength="2000"></textarea>
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="competitivetext_fr">{{translationObj.details.fieldtitlefrenchcompetitivetext}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="competitivetext_fr" class="form-control" id="competitivetext_fr" ng-model="currentWscoach.competitivetext_fr" maxlength="2000"></textarea>
	      </div>
	    </div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<label for="coachindex">{{translationObj.details.fieldtitlecoachindex}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pen"></i></span>
					<input type="numeric" name="coachindex" class="form-control" id="coachindex" ng-model="currentWscoach.coachindex" min="1" max="99" required>
				</div>
			</div>
			<div class="col-xs-2">
				<label for="publish">{{translationObj.details.fieldtitlepublish}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWscoach.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>

		</div>
		<div class="row" ng-if="currentWscoach.imagefilename && currentWscoach.imageinfo">

			<div class="col-xs-3">
				<div class="team-member">
					<div class="team-img">
						<img ng-src="../websiteimages/coaches/{{currentWscoach.displayimagefilename}}" class="team-pic" alt="">
					</div>
					<h3 class="team_name">{{currentWscoach.fullname}}</h3>
				</div>
			</div>

			<div class="col-xs-2">
				<label for="name">{{translationObj.details.fieldtitleimagewidth}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="width" class="form-control" id="width" ng-model="currentWscoach.imageinfo[0]" disabled>
	      </div>

				<label for="name">{{translationObj.details.fieldtitleimageheight}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="height" class="form-control" id="height" ng-model="currentWscoach.imageinfo[1]" disabled>
	      </div>

				<label for="name">{{translationObj.details.fieldtitleimagetype}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="type" class="form-control" id="type" ng-model="currentWscoach.imageinfo['mime']" disabled>
	      </div>
			</div>

		</div>

		<!-- Filler -->
		<div class="row">
			<div class="col-xs-4">
				<label>&nbsp;</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" type="file" ngf-select="uploadMainImage($file, $invalidFiles)" accept="image/jpeg" ngf-max-height="500" ngf-max-width="500" ngf-max-size="300KB" ng-disabled="!isFormPristine || detailsForm.$dirty">{{translationObj.details.buttontitleloadmainimage}}</button>&nbsp;
				<deletewebsiteimagebutton subdir="'coaches'" context="'ws_coaches'" obj="currentWscoach" callback="setCurrentInternal(currentWscoach)" is-disabled="!currentWscoach.imagefilename"></deletewebsiteimagebutton>
				<span class="help-block">{{translationObj.details.helptextimagespecifications}}</span>
  		</div>
  	</div>

  </div>
</div>
