<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitledetails}}</h3>
		<div class="row">
			<div class="col-xs-4">
				<label for="firstname">{{translationObj.details.fieldtitlefirstname}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="firstname" class="form-control" id="firstname"
						ng-model="currentWscoach.firstname" maxlength="40" required>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="lastname">{{translationObj.details.fieldtitlelastname}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="lastname" class="form-control" id="lastname"
						ng-model="currentWscoach.lastname" maxlength="40" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="email">{{translationObj.details.fieldtitleemail}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="email" class="form-control" id="email" ng-model="currentWscoach.email"
						maxlength="100" autocomplete="off">
				</div>
			</div>
			<div class="col-xs-4">
				<label for="phone">{{translationObj.details.fieldtitlephone}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="phone" class="form-control" id="phone" ng-model="currentWscoach.phone"
						maxlength="14" format-phone autocomplete="off">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="coachsince">{{translationObj.details.fieldtitlecoachsince}}<i style="color:red">
						*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="coachsince" class="form-control" id="coachsince"
						ng-model="currentWscoach.coachsince" maxlength="4">
				</div>
			</div>
			<div class="col-xs-4">
				<label for="coachlevel">{{translationObj.details.fieldtitlecoachlevel}}<i style="color:red">
						*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="coachlevel" class="form-control" id="coachlevel"
						ng-model="currentWscoach.coachlevel" maxlength="60" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<label for="availabilitytext_en">{{translationObj.details.fieldtitleenglishavailabilitytext}}<i
						style="color:red" ng-if="config.supportenglish==1"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="availabilitytext_en" class="form-control" id="availabilitytext_en"
						ng-model="currentWscoach.availabilitytext_en" maxlength="2000"
						ng-required="config.supportenglish==1">
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<label for="availabilitytext_fr">{{translationObj.details.fieldtitlefrenchavailabilitytext}}<i
						style="color:red" ng-if="config.supportfrench==1"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="availabilitytext_fr" class="form-control" id="availabilitytext_fr"
						ng-model="currentWscoach.availabilitytext_fr" maxlength="2000"
						ng-required="config.supportfrench==1">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<label for="competitivetext_en">{{translationObj.details.fieldtitleenglishcompetitivetext}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="competitivetext_en" class="form-control" id="competitivetext_en"
						ng-model="currentWscoach.competitivetext_en" maxlength="2000"></textarea>
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<label for="competitivetext_fr">{{translationObj.details.fieldtitlefrenchcompetitivetext}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="competitivetext_fr" class="form-control" id="competitivetext_fr"
						ng-model="currentWscoach.competitivetext_fr" maxlength="2000"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<label for="coachindex">{{translationObj.details.fieldtitlecoachindex}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pen"></i></span>
					<input type="number" name="coachindex" class="form-control" id="coachindex"
						ng-model="currentWscoach.coachindex" min="1" max="99" required>
				</div>
			</div>
			<div class="col-xs-2">
				<label for="publish">{{translationObj.details.fieldtitlepublish}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWscoach.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>

		<displaywebsiteimage 
			displayimagefilename="'coaches/'+currentWscoach.displayimagefilename"
			imageinfo="currentWscoach.imageinfo">
		</displaywebsiteimage>
		<div class="row">
			<div class="col-xs-12">
				<uploadwebsiteimagebutton 
					subdirectory="'/website/images/coaches/'"
					fileprefix="currentWscoach.firstname + '_' + currentWsboardmember.lastname" 
					tablename="'cpa_ws_coaches'"
					id="currentWscoach.id" 
					oldfilename="currentWscoach.imagefilename"
					callback="setCurrentInternal(currentWscoach)" 
					is-disabled="!isFormPristine || detailsForm.$dirty">
				</uploadwebsiteimagebutton>&nbsp;
				<deletewebsiteimagebutton 
					subdir="'coaches'" context="'ws_coaches'" obj="currentWscoach"
					callback="setCurrentInternal(currentWscoach)" is-disabled="!currentWscoach.imagefilename">
				</deletewebsiteimagebutton>
			</div>
		</div>
	</div>

</div>