<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="content well">
            <div class="row">
                <div class="col-md-10">
                    <div class="content">
                        <div class="row">
                            <a href="#!/ccwelcomeview">{{translationObj.main.formtitlebacktowelcome}}</a>
                            <h3>{{translationObj.main.formtitleregistration}}</h3>
                            <p><b>{{translationObj.main.fieldtitleskater}}</b>&nbsp;{{currentRegistration.member.firstname}}&nbsp;{{currentRegistration.member.lastname}}</p>
                            <p><b>{{translationObj.main.fieldtitlesession}}</b>&nbsp;{{currentRegistration.sessionname}}</p>
                            <p><b>{{translationObj.main.fieldtitlesessiondates}}</b>&nbsp;{{currentRegistration.coursesstartdate}}&nbsp;-&nbsp;{{currentRegistration.coursesenddate}}</p>
                            <p><font color="red">{{translationObj.main.msgselectline}}</font></p>
                        </div>
                        <div><h3>{{translationObj.main.fieldtitlecourse}}</h3></div>
                        <span ng-repeat="coursecode in currentRegistration.coursecodes"><label><input type="checkbox" id="selected{{$index}}" ng-model="coursecode.selected" ng-true-value="'1'" ng-change="onCourseCodeSelected(null)"> {{coursecode.coursecodelabel}} </label>&nbsp;&nbsp;</span>
                        <button class="btn btn-primary btn-sm" ng-click="clearCourseCodesFilter()"><span>{{translationObj.main.buttontitleclearcoursecodesfilter}}</span></button>
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlecourse}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlenbofcoursesleft}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlenbofskater}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlecourseprice}}</label>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="course in currentRegistration.courses | filter : filterCourses" ng-click="onCourseSelected(course)" style="cursor: pointer" ng-class="{selected: course.selected=='1'&&course.selected_old=='0'}">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <div class="input-group">
                                          <strong>{{course.label}} {{course.courselevellabel}} {{getCourseDelta(course)}}</strong><br><small>{{course.schedule}}</small>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group">
                                        {{course.nbofcourses}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group">
                                      {{course.maxnumberskater/1 - course.nbofskaters/1}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <!-- TODO : must be right-align -->
                                    <div class="input-group">
                                        {{course.fees_billing && course.fees_billing != 0 ? course.fees_billing : course.fees | currency}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1">
                                    <div class="input-group">
                                      <span class='glyphicon glyphicon-ok' ng-show="course.selected=='1' || course.selected_old=='1' || (course.fees_billing && course.fees_billing != 0)"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <h3>{{translationObj.main.formtitlecharges}}</h3>
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlelabel}}</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitletype}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs" ng-show="$index==0">{{translationObj.main.fieldtitleamount}}</label>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="charge in currentRegistration.charges | filter : filterCharges" ng-click="onChargeSelected(charge)" style="cursor: pointer"  ng-class="{selected: charge.selected=='1' && charge.selected_old=='0' && charge.issystem!='1'}">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <div class="input-group">
                                        <strong>{{charge.label}}</strong><i ng-if="charge.nonrefundable=='1'"><br>{{charge.nonrefundablelabel}}</i><i ng-if="charge.comments&&charge.comments!=''"><br>{{charge.comments}}</i>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="input-group">
                                      {{charge.typelabel}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <!-- TODO : must be right-align -->
                                    <div class="input-group">
                                      {{charge.amount | currency}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1">
                                    <!-- <label class="hidden-xs" ng-show="$index==0">&nbsp;</label> -->
                                    <div class="input-group">
                                        <span class='glyphicon glyphicon-ok' ng-show="charge.selected=='1'"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldsubtotal}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.totalamount | currency}}</h3>
                            </div>
                        </div>
                        <div class="row" ng-if="currentRegistration.bill.registrations.length > 1">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldtotalotherskaters}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.subtotalotherskaters | currency}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldtotalpayment}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.bill.paymentsubtotal | currency}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldtotal}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{(currentRegistration.totalamount/1) + (currentRegistration.subtotalotherskaters/1) - (currentRegistration.bill.paymentsubtotal/1)| currency}}</h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label for="comments">{{translationObj.main.fieldtitlecomments}}</label>
                                <!-- <div class="input-group"> -->
                                    <textarea class="form-control" id="comments" ng-model="currentRegistration.comments" maxlength="1024"></textarea>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <center>
                                <a href="#!/ccwelcomeview"><button class="btn btn-primary">{{translationObj.main.buttontitlecancel}}</button></a>
                                <button class="btn btn-primary" ng-click="goToStep2()" >{{translationObj.main.buttontitlecontinue}}</button>
                            </center>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div class="col-md-2">
                    <img style="display:block;margin:auto;" src="/privateimages/cpa_logo.jpg" alt="logo">
                </div>

            </div>
        </div>
    </div>
</div>
