<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="content well">
            <div class="row">
                <div class="col-md-10">
                    <div class="content">
                        <div class="row">
                            <a href="#!/ccwelcomeview">{{translationObj.main.formtitlebacktowelcome}}</a>
                            <h3>{{translationObj.main.formtitleconfirmation}}</h3>
                            <p><b>{{translationObj.main.fieldtitleskater}}</b>&nbsp;{{currentRegistration.member.firstname}}&nbsp;{{currentRegistration.member.lastname}}</p>
                            <p><b>{{translationObj.main.fieldtitlesession}}</b>&nbsp;{{currentRegistration.sessionname}}</p>
                            <p><b>{{translationObj.main.fieldtitlesessiondates}}</b>&nbsp;{{currentRegistration.coursesstartdate}}&nbsp;-&nbsp;{{currentRegistration.coursesenddate}}</p>
                        </div>
                        <div><h3>{{translationObj.main.fieldtitlecourse}}</h3></div>
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlecourse}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlenbofcoursesleft}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlenbofskater}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlecourseprice}}</label>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="course in currentRegistration.courses | filter : filterSelectedCourses">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <div class="input-group">
                                          <strong>{{course.label}} {{course.courselevellabel}} {{getCourseDelta(course)}}</strong><br><small>{{course.schedule}}</small>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group">
                                        {{course.nbofcourses}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group">
                                      {{course.maxnumberskater/1 - course.nbofskaters/1}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <!-- TODO : must be right-align -->
                                    <div class="input-group">
                                        {{course.fees_billing && course.fees_billing != 0 ? course.fees_billing : course.fees | currency}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1">
                                    <div class="input-group">
                                      <span class='glyphicon glyphicon-ok' ng-show="course.selected=='1' || course.selected_old=='1' || (course.fees_billing && course.fees_billing != 0)"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <h3>{{translationObj.main.formtitlecharges}}</h3>
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitlelabel}}</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label for="comments" class="hidden-xs">{{translationObj.main.fieldtitletype}}</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label for="comments" class="hidden-xs" ng-show="$index==0">{{translationObj.main.fieldtitleamount}}</label>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="charge in currentRegistration.charges | filter : filterSelectedCharges">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">
                                    <div class="input-group">
                                        <strong>{{charge.label}}</strong><i ng-if="charge.nonrefundable=='1'"><br>{{charge.nonrefundablelabel}}</i><i ng-if="charge.comments&&charge.comments!=''"><br>{{charge.comments}}</i>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="input-group">
                                      {{charge.typelabel}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <!-- TODO : must be right-align -->
                                    <div class="input-group">
                                      {{charge.amount | currency}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1">
                                    <!-- <label class="hidden-xs" ng-show="$index==0">&nbsp;</label> -->
                                    <div class="input-group">
                                        <span class='glyphicon glyphicon-ok' ng-show="charge.selected=='1'"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldsubtotal}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.totalamount | currency}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldtotalpayment}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.bill.paymentsubtotal | currency}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-9">
                                <h3>{{translationObj.main.fieldtotal}}</h3>
                            </div>
                            <!-- TODO : must be right-align -->
                            <div class="col-xs-6 col-md-2">
                                <h3>{{currentRegistration.totalamount - currentRegistration.bill.paymentsubtotal| currency}}</h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <br>
                            <center>
                                <button class="btn btn-primary" ng-click="backToDraft()" >{{translationObj.main.buttontitlebacktodraft}}</button>
                                <a href="#!/ccwelcomeview"><button class="btn btn-primary">{{translationObj.main.buttontitlecancel}}</button></a>
                                <button class="btn btn-primary" ng-click="confirmRegistration()" ng-if="currentRegistration.onlinepaymentoption==0">{{translationObj.main.buttontitleaccept}}</button>
                                <button class="btn btn-primary" ng-click="confirmRegistration()" ng-if="currentRegistration.onlinepaymentoption==1">{{translationObj.main.buttontitlepaylater}}</button>
                                <!-- <button class="btn btn-primary" ng-click="payOnline()" ng-if="currentRegistration.onlinepaymentoption!=0">{{translationObj.main.buttontitlepayonline}}</button> -->
                                <!-- <div>
                                    <style>.paypal-button-widget { display: none !important; }</style>
                                    <div id="t1"> -->
                                      <!-- style this however you want -->
                                      <a href ng-click="initPaypal()"
                                        ng-style="{ opacity: '1'}">
                                        <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="PayPal">
                                      </a>
                                    <!-- </div>
                                  </div> -->
                            </center>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <img style="display:block;margin:auto;" src="/privateimages/cpa_logo.jpg" alt="logo">
                </div>

            </div>
        </div>
    </div>
</div>
