<div class="form-group">
	<h3>{{translationObj.interventions.formtitleinterventions}}&nbsp;({{currentShow.interventions.length}})&nbsp;
		<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editShowIntervention({})"></button>
	</h3>
	<br>

	<div ng-repeat="intervention in currentShow.interventions"
		class="blackcurvyborder">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-warning" style="margin-bottom:0px">
					<div class="panel-heading">
						<a data-target="#interventions{{$index}}" data-toggle="collapse" class="pointerlist">
							<strong><big>{{intervention.name}}&nbsp;-&nbsp;{{intervention.interventionlabel}}</big></strong>
						</a>
						<span style="float:right">
							<child-edit-button obj="intervention" objlist="currentShow.interventions" callback="editShowIntervention(intervention)"></child-edit-button>
							<child-delete-button obj="intervention" objlist="currentShow.interventions" callback="setDirty()"></child-delete-button>
							<child-undelete-button obj="intervention" objlist="currentShow.interventions" callback="setDirty()"></child-undelete-button>
							<child-status-indicator obj="intervention"></child-status-indicator>
						</span>
						<br>
						<small>
							<p>
								<b>{{translationObj.interventions.fieldduration}}</b>:&nbsp;{{intervention.duration | convertSecondToString}}&nbsp;
								<b>{{translationObj.interventions.fieldmusic}}</b>:&nbsp;{{intervention.music}}&nbsp;
								<b>{{translationObj.interventions.fieldlight}}</b>:&nbsp;{{intervention.lights}}
							</p>
						</small>
					</div>

					<div id="interventions{{$index}}" class="panel-collapse collapse">
						<div class="panel-body">
							<form>
								<label for="comments{{$index}}">{{translationObj.interventions.fieldcomment}}</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
									<textarea type="text" class="form-control" id="comments{{$index}}" name="comments" ng-model="intervention.comments" maxlength="2000" disabled> </textarea>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>