<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newicetimes.formtitleediticetime}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group row">

      <div class="col-xs-5">
	      <label for="arena">{{translationObj.newicetimes.fieldarena}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      		<select class="form-control" id="arena" ng-model="newObj.arenaid" ng-change="onArenaChange(newObj)" required>
						<option ng-repeat="arena in arenas" value="{{arena.id}}">{{arena.label}}</option>
      		</select>
      	</div>
      </div>

      <div class="col-xs-3">
	      <label for="iceid">{{translationObj.newicetimes.fieldice}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      		<select class="form-control" id="iceid" ng-model="newObj.iceid">
						<option ng-repeat="ice in ices" value="{{ice.id}}">{{ice.label}}</option>
      		</select>
      	</div>
      </div>

      <div class="col-xs-3">
	      <label for="day">{{translationObj.newicetimes.fieldday}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      		<select class="form-control" id="day" ng-model="newObj.day" required>
						<option ng-repeat="day1 in days" value="{{day1.code}}">{{day1.text}}</option>
      		</select>
      	</div>
      </div>

      <div class="col-xs-3">
	      <label for="starttime">{{translationObj.newicetimes.fieldstarttime}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="text" class="form-control" id="starttime" name="starttime" ng-model="newObj.starttime" required>
	      </div>
      </div>

      <div class="col-xs-3">
	      <label for="endtime">{{translationObj.newicetimes.fieldendtime}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="text" class="form-control" id="endtime" name="endtime" ng-model="newObj.endtime" required>
	      </div>
      </div>

      <div class="col-xs-3">
	      <label for="duration">{{translationObj.newicetimes.fieldduration}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="text" class="form-control" id="duration" name="duration" ng-model="newObj.duration" required>
	      </div>
      </div>

	    <div class="col-xs-8">
	      <label for="comment">{{translationObj.newicetimes.fieldcomments}}</label>
	    	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	      	<input type="text" class="form-control" id="comment" ng-model="newObj.comment" maxlength="200">
	    	</div>
	    </div>

    </div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newicetimes.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newicetimes.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()"    >{{translationObj.newicetimes.buttontitlekeepchanges}}</button>
</div>
