<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newnumberinvitegroup.formtitleeditgroupinvite}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group row">

      <div class="col-xs-5">
	      <label for="groupname">{{translationObj.newnumberinvitegroup.fieldgroupname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      		<select class="form-control" id="groupname" ng-model="newObj.groupormemberid" ng-change="onGroupnameChange(newObj)" required>
						<option ng-repeat="groupname in sessionCourses" value="{{groupname.id}}">{{groupname.text}}</option>
      		</select>
      	</div>
      </div>

  	</div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newnumberinvitegroup.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()"	>{{translationObj.newnumberinvitegroup.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()"			>{{translationObj.newnumberinvitegroup.buttontitlekeepchanges}}</button>
</div>
