<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newperformanceprice.formtitleeditprice}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col-xs-5">
				<labelrequired for="chargecode" label="translationObj.newperformanceprice.fieldpricetype">
				</labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id="chargecode" ng-model="newObj.pricetype" ng-disabled="newObj.id != null" required autofocus>
						<option ng-repeat="showpricetype in showpricetypes" value="{{showpricetype.code}}">{{showpricetype.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-5">
				<labelrequired for="amount" label="translationObj.newperformanceprice.fieldamount"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="amount" ng-model="newObj.amount" ng-currency required>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-xs-5">
				<label for="agemin">{{translationObj.newperformanceprice.fieldagemin}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="number" class="form-control" id="agemin" ng-model="newObj.agemin">
				</div>
			</div>

			<div class="col-xs-5">
				<label for="agemax">{{translationObj.newperformanceprice.fieldagemax}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="number" class="form-control" id="agemax" ng-model="newObj.agemax">
				</div>
			</div>
		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newperformanceprice.formerrormessage}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newperformanceprice.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newperformanceprice.buttontitlekeepchanges}}</button>
	</div>
</form>