<div class="form-group row">
  <div class="grid">
		<h3>{{translationObj.registrations.formtitleregistration}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionRegistration({})"></button></h3>
    <!-- <div class="row">
      <div class="col-xs-5">
				<button class="btn btn-primary" ng-click="editSessionRegistration({})"><span>{{translationObj.registrations.buttontitlenewregistration}}</span></button>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">
      	<hr>
				<div ng-repeat="registration in currentSession.registrations">
					<div class="row">
			      <div class="col-xs-2">
				      <label for="location{{$index}}" ng-show="$index==0">{{translationObj.registrations.fieldlocation}}</label>
			      	<input type="text" class="form-control" id="location{{$index}}" ng-model="registration.location" disabled>
			      </div>

			      <div class="col-xs-2">
				      <label for="registrationdate{{$index}}" ng-show="$index==0">{{translationObj.registrations.fielddate}}</label>
			      	<input type="text" class="form-control" id="registrationdate{{$index}}" ng-model="registration.registrationdatestr" disabled>
			      </div>

			      <div class="col-xs-2">
				      <label for="starttime{{$index}}" ng-show="$index==0">{{translationObj.registrations.fieldstarttime}}</label>
			      	<input type="text" class="form-control" id="starttime{{$index}}" ng-model="registration.starttimestr" disabled>
			      </div>

			      <div class="col-xs-2">
				      <label for="endtime{{$index}}" ng-show="$index==0">{{translationObj.registrations.fieldendtime}}</label>
			      	<input type="text" class="form-control" id="endtime{{$index}}" ng-model="registration.endtimestr" disabled>
			      </div>

			      <div class="col-xs-2">
				      <label for="comments{{$index}}" ng-show="$index==0">{{translationObj.registrations.fieldcomments}}</label>
			      	<input type="text" class="form-control" id="comments{{$index}}" ng-model="registration.comments" disabled>
			      </div>

			    	<div class="col-xs-2">
					    <label ng-show="$index==0">&nbsp;</label>
			      	<div class="input-group">
		    				<span>
									<child-edit-button 			obj="registration" objlist="currentSession.registrations" callback="editSessionRegistration(registration)"></child-edit-button>
									<child-delete-button 		obj="registration" objlist="currentSession.registrations" callback="setDirty()"></child-delete-button>
									<child-undelete-button 	obj="registration" objlist="currentSession.registrations" callback="setDirty()"></child-undelete-button>
									<child-status-indicator obj="registration"></child-status-indicator>
								</span>
						  </div>
					  </div>
			    </div>
		    </div>
	    </div>
    </div>
  </div>
</div>
