<section id="intro" class="intro" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}" initmainsection>
	<row>
		<newleftpane leftpanetemplatefullpath="./showview/show.template.html"></newleftpane>
		<div id="maincolumnright" class="col-xs-7 col-sm-10 maincolumnright">
			<div id="mainrowright" class="row mainrowright">
				<div class="grid">
					<displayerror></displayerror>
					<displaymaintitle maintitle="currentShow.name" defaulttitle="translationObj.main.formtitledetails" object="currentShow"></displaymaintitle>

					<main-new-button new-callback="createNew()" ng-if="userInfo.privileges.session_create"></main-new-button>
					<main-save-button save-callback="saveToDB()" is-form-pristine="(isFormPristine && !detailsForm.$dirty)" ng-if="userInfo.privileges.session_update==true"></main-save-button>
					<main-delete-button delete-callback="deleteFromDB()" ng-if="userInfo.privileges.session_delete"></main-delete-button>

				  <span class="dropdown">
				    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="currentShow==null" ng-if="userInfo.privileges.session_print==true">{{translationObj.shows.buttontitlereports}}<span class="caret"></span></button>
				    <ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">{{translationObj.shows.reportdividernumbers}}</li>
				      <li class="pointerlist"><a ng-click="this.printReport('showPracticeSchedule')">{{translationObj.shows.reporttitleshowpracticeschedule}}</a></li>
				      <li class="pointerlist"><a ng-click="this.printReport('showNumbersSummary')">{{translationObj.shows.reporttitleshownumberssummary}}</a></li>
				      <li class="pointerlist"><a ng-click="this.printReport('showNumbersInvitesList')">{{translationObj.shows.reporttitleshownumbersinviteslist}}</a></li>
				      <li class="pointerlist"><a ng-click="this.printReport('showTaskList')">{{translationObj.shows.reporttitleshowtasklist}}</a></li>
							<li class="dropdown-header">{{translationObj.shows.reportdividerbilling}}</li>
				      <li class="pointerlist"><a ng-click="this.printReport('showBillingList')">{{translationObj.shows.reporttitleshowBillinglist}}</a></li>
					  </ul>
					</span>

					<div id="maintab" class="maintab">
						<ul id="maintabheader" class="nav nav-tabs">
							<li class="active pointerlist"><a data-toggle="tab" data-target="#info">{{translationObj.shows.panetitledetails}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#performances">{{translationObj.shows.panetitleperformances}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#numbers">{{translationObj.shows.panetitlenumbers}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#interventions">{{translationObj.shows.panetitleinterventions}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#rules">{{translationObj.shows.panetitlerules}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#charges">{{translationObj.shows.panetitlecharges}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#webdesc">{{translationObj.shows.panetitlewebdesc}}</a></li>
					    <li class="pointerlist"><a data-toggle="tab" data-target="#numbersdates">{{translationObj.shows.panetitlepracticesdates}}</a></li>
						</ul>

						<div id="maintabcontent" class="tab-content maintabcontent">
							<div id="info" class="tab-pane fade in active maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="detailsForm" ng-show="currentShow" >
									 <div ng-include="'showview/details.form.html'"></div>
							  </form>
					    </div>

					    <div id="performances" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="performancesForm" ng-show="currentShow" >
									 <div ng-include="'showview/performances.form.html'"></div>
							  </form>
					    </div>

					    <div id="numbers" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="numbersForm" ng-show="currentShow" >
									 <div ng-include="'showview/numbers.form.html'"></div>
							  </form>
					    </div>

					    <div id="interventions" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="interventionsForm" ng-show="currentShow" >
									 <div ng-include="'showview/interventions.form.html'"></div>
							  </form>
					    </div>

					    <div id="rules" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="rulesForm" ng-show="currentShow" >
									 <div ng-include="'showview/rules.form.html'"></div>
							  </form>
					    </div>

					    <div id="charges" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="chargesForm" ng-show="currentShow" >
									 <div ng-include="'showview/charge.form.html'"></div>
							  </form>
					    </div>

					    <div id="webdesc" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="webdescForm" ng-show="currentShow" >
									 <div ng-include="'showview/webdesc.form.html'"></div>
							  </form>
					    </div>

					    <div id="numbersdates" class="tab-pane fade maintabpane">
					      <form class="form-horizontal well intabsingleformnox" role="form" name="shownumbersdatesForm" ng-show="currentShow" >
									<div ng-include="'showview/numberdates.form.html'"></div>
						    </form>
					    </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</row>
</section>
