<div class="form-group row">
	<div class="grid">
    <h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
      <div class="col-xs-2">
	      <label for="name">{{translationObj.details.fieldtitlename}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentWssection.name" maxlength="40" required disabled>
					<span ng-show="detailsForm.name.$touched && detailsForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
			<div class="col-xs-10">
	      <label for="labeltext">{{translationObj.details.fieldtitlelabel}}</label>
				<input type="text" name="labeltext" class="form-control" id="labeltext" ng-model="currentWssection.labeltext"disabled>
	    </div>
    </div>
		<div class="row">
      <div class="col-xs-3">
	      <label for="name">{{translationObj.details.fieldtitleenglishnavbarlabel}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_en" class="form-control" id="navbarlabel_en" ng-model="currentWssection.navbarlabel_en" maxlength="200" required>
					<span ng-show="detailsForm.navbarlabel_en.$touched && detailsForm.navbarlabel_en.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
      <div class="col-xs-3 col-xs-offset-3">
	      <label for="name">{{translationObj.details.fieldtitlefrenchnavbarlabel}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_fr" class="form-control" id="navbarlabel_fr" ng-model="currentWssection.navbarlabel_fr" maxlength="200" required>
					<span ng-show="detailsForm.navbarlabel_fr.$touched && detailsForm.navbarlabel_fr.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
      </div>
    </div>
		<div class="row">
      <div class="col-xs-6">
	      <label for="name">{{translationObj.details.fieldtitleenglishtitle}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="title_en" class="form-control" id="title_en" ng-model="currentWssection.title_en" maxlength="2000" required>
					<span ng-show="detailsForm.title_en.$touched && detailsForm.title_en.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
      <div class="col-xs-6">
	      <label for="name">{{translationObj.details.fieldtitlefrenchtitle}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="title_fr" class="form-control" id="title_fr" ng-model="currentWssection.title_fr" maxlength="2000" required>
					<span ng-show="detailsForm.title_fr.$touched && detailsForm.title_fr.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
      </div>
    </div>
		<div class="row">
			<div class="col-xs-6" ng-if="currentWssection.subtitleind==0">
				<label ng-if="currentWssection.subtitleind==0">{{translationObj.details.msgSubtitleNotSupported}}</label>
			</div>
      <div class="col-xs-6" ng-if="currentWssection.subtitleind==1">
	      <label for="name">{{translationObj.details.fieldtitleenglishsubtitle}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="subtitle_en" class="form-control" id="subtitle_en" ng-model="currentWssection.subtitle_en" maxlength="2000">
					<span ng-show="detailsForm.subtitle_en.$touched && detailsForm.subtitle_en.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
      <div class="col-xs-6" ng-if="currentWssection.subtitleind==1">
	      <label for="name">{{translationObj.details.fieldtitlefrenchsubtitle}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="subtitle_fr" class="form-control" id="subtitle_fr" ng-model="currentWssection.subtitle_fr" maxlength="2000">
					<span ng-show="detailsForm.subtitle_fr.$touched && detailsForm.subtitle_fr.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
      </div>
    </div>
		<div class="row" ng-if="currentWssection.imagefilename && currentWssection.imageinfo">

			<div class="col-xs-3">
				<div class="team-member">
					<div class="team-img">
						<img ng-src="../websiteimages/sections/{{currentWssection.displayimagefilename}}" class="team-pic" alt="">
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<label for="name">{{translationObj.details.fieldtitleimagewidth}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="width" class="form-control" id="width" ng-model="currentWssection.imageinfo[0]" disabled>
	      </div>

				<label for="name">{{translationObj.details.fieldtitleimageheight}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="height" class="form-control" id="height" ng-model="currentWssection.imageinfo[1]" disabled>
	      </div>

				<label for="name">{{translationObj.details.fieldtitleimagetype}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
					<input type="text" name="type" class="form-control" id="type" ng-model="currentWssection.imageinfo['mime']" disabled>
	      </div>
			</div>

		</div>

		<!-- Filler -->
		<div class="row">
			<div class="col-xs-4">
				<label>&nbsp;</label>
			</div>
		</div>

			<div class="row">
				<div class="col-xs-12">
					<label ng-if="currentWssection.imageind==0">{{translationObj.details.msgImageNotSupported}}</label>
					<div class="input-group">
						<button class="btn btn-primary" type="file" ngf-select="uploadMainImage($file, $invalidFiles)" accept="image/jpeg" ngf-max-height="500" ngf-max-width="500" ngf-max-size="300KB" ng-disabled="!isFormPristine || detailsForm.$dirty || currentWssection.imageind==0">{{translationObj.details.buttontitleloadmainimage}}</button>&nbsp;
						<deletewebsiteimagebutton subdir="'sections'" context="'sections'" obj="currentWssection" callback="setCurrentInternal(currentWssection)" is-disabled="!currentWssection.imagefilename"></deletewebsiteimagebutton>
						<span class="help-block">{{translationObj.details.helptextimagespecifications}}</span>
	  			</div>
	  		</div>
	  	</div>
  	</div>

    <hr>

		<h3>{{translationObj.details.buttontitleparagraph}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editParagraph({})" ng-if="currentWssection.paragraphind!=0"></button></h3>
		<label ng-if="currentWssection.paragraphind==0">{{translationObj.details.msgParagraphsNotSupported}}</label>
		<div ng-repeat="paragraph in currentWssection.paragraphs">
    	<div class="row">

		    <div class="col-xs-1">
			    <label for="paragraphindex">{{translationObj.details.fieldtitleparagraphindex}}</label>
					<input type="number" name="code" class="form-control" id="paragraphindex" ng-model="paragraph.paragraphindex" disabled>
		    </div>

				<div class="col-xs-1">
		      <label for="active">{{translationObj.details.fieldtitlepublish}}<i style="color:red"> *</i></label>
					<select class="form-control" id="publish" ng-model="paragraph.publish" disabled>
			    	<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
			    </select>
		    </div>

		    <div class="col-xs-2">
		      <label for="title_fr">{{translationObj.details.fieldtitlefrenchtitle}}</label>
	        <input type="text" class="form-control" id="title_fr" ng-model="paragraph.title_fr" disabled>
		    </div>

		    <div class="col-xs-2">
		      <label for="subtitle_fr">{{translationObj.details.fieldtitlefrenchsubtitle}}</label>
	        <input type="text" class="form-control" id="subtitle_fr" ng-model="paragraph.subtitle_fr" disabled>
		    </div>

		    <div class="col-xs-4">
		      <label for="paragraphtext_fr">{{translationObj.details.fieldtitlefrenchparagraphtext}}</label>
	        <input type="text" class="form-control" id="paragraphtext_fr" ng-model="paragraph.paragraphtext_fr" disabled>
		    </div>

      	<div class="col-xs-2">
			    <label>&nbsp;</label>
	      	<div class="input-group">
    				<span>
							<child-edit-button 			obj="paragraph" objlist="currentWssection.paragraphs" callback="editParagraph(paragraph)"></child-edit-button>
							<child-delete-button 		obj="paragraph" objlist="currentWssection.paragraphs" callback="setDirty()"></child-delete-button>
							<child-undelete-button 	obj="paragraph" objlist="currentWssection.paragraphs" callback="setDirty()"></child-undelete-button>
							<child-status-indicator obj="paragraph"></child-status-indicator>
						</span>
				  </div>
			  </div>
				<div class="col-xs-offset-2 col-xs-2">
					<label for="title_en">{{translationObj.details.fieldtitleenglishtitle}}</label>
					<input type="text" class="form-control" id="title_en" ng-model="paragraph.title_en" disabled>
		  	</div>
				<div class="col-xs-2">
		      <label for="subtitle_en">{{translationObj.details.fieldtitleenglishsubtitle}}</label>
	        <input type="text" class="form-control" id="subtitle_en" ng-model="paragraph.subtitle_en" disabled>
		    </div>
				<div class="col-xs-4">
		      <label for="paragraphtext_en">{{translationObj.details.fieldtitleenglishparagraphtext}}</label>
	        <input type="text" class="form-control" id="paragraphtext_en" ng-model="paragraph.paragraphtext_en" disabled>
		    </div>

		  </div>
	 	</div>

		<h3>{{translationObj.details.buttontitlelink}}&nbsp;<editlink type="2" link="{}" parent=currentWssection ng-if="currentWssection.linkind!=0"></editlink></h3>
		<label ng-if="currentWssection.linkind==0">{{translationObj.details.msgLinksNotSupported}}</label>
		<div class="row" ng-repeat="link in currentWssection.links">

			<div class="col-xs-2">
				<label for="linkname">{{translationObj.details.fieldtitlelinkname}}</label>
				<input type="text" class="form-control" id="linkname" ng-model="link.linkname" disabled>
			</div>

			<div class="col-xs-2">
				<label for="linktypelabel">{{translationObj.details.fieldtitlelinktype}}</label>
				<input type="text" class="form-control" id="linktypelabel" ng-model="link.linktypelabel" disabled>
			</div>

			<div class="col-xs-2">
				<label for="linkpositionlabel">{{translationObj.details.fieldtitlelinkposition}}</label>
				<input type="text" class="form-control" id="linkpositionlabel" ng-model="link.linkpositionlabel" disabled>
			</div>

			<div class="col-xs-2">
				<label for="linkindex">{{translationObj.details.fieldtitlelinkindex}}</label>
				<input type="text" class="form-control" id="linkpositionlabel" ng-model="link.linkindex" disabled>
			</div>

			<div class="col-xs-2">
				<label>&nbsp;</label>
				<div class="input-group">
					<span>
						<editlink type="1" link="link" parent=currentWssection></editlink>
						<child-delete-button 		obj="link" objlist="currentWssection.links" callback="setDirty()"></child-delete-button>
						<child-undelete-button 	obj="link" objlist="currentWssection.links" callback="setDirty()"></child-undelete-button>
						<child-status-indicator obj="link"></child-status-indicator>
					</span>
				</div>
			</div>
  	</div>
  </div>
</div>
