	<div class="col-xs-7">
		<label for="coursecode">{{translationObj.newrule.fieldcourse}}<i style="color:red"> *</i></label>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			<select class="form-control" id="coursecode" ng-model="newObj.ruleparameters.coursecode" ng-change="control.onCourseChange(newObj)" required>
				<option ng-repeat="course in courses" value="{{course.code}}">{{course.label}}</option>
			</select>
		</div>
	</div>

	<div class="col-xs-7">
		<label for="courselevel">{{translationObj.newrule.fieldcourselevel}}</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			<select class="form-control" id="courselevel" ng-model="newObj.ruleparameters.courselevel" >
				<option ng-repeat="courselevel in courselevels" value="{{courselevel.code}}">{{courselevel.label}}</option>
			</select>
			<span class="input-group-addon"><i class="glyphicon glyphicon-remove" ng-click="control.nullifyCourseLevel(newObj)"></i></span>
		</div>
	</div>

	<div class="col-xs-7">
		<label for="coursenumber">{{translationObj.newrule.fieldcoursenumber}}<i style="color:red"> *</i></label>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			<input type="number" name="nbofcourses" class="form-control" id="nbofcourses" ng-model="newObj.ruleparameters.nbofcourses" min="2" max="99" required>
		</div>
	</div>
