<section id="intro" class="intro" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}" initmainsection>
	<row>
		<newleftpane leftpanetemplatefullpath="./billview/bill.template.html"></newleftpane>
		<div id="maincolumnright" class="col-xs-7 col-sm-10 maincolumnright">
			<div id="mainrowright" class="row mainrowright">
				<div class="grid">
					<displayerror></displayerror>
					<!-- Main title : Only display if currentBill is not null -->
					<div ng-if="currentBill!=null"><h2>{{currentBill.id}} - {{currentBill.billingname}} - {{currentBill.billingdate}} - {{currentBill.totalamount | currency}}<span ng-show="currentBill.relatednewbillid!=null"> <font color="red"> ({{translationObj.main.formtitlebillclosed}}) </font></span></h2></div>
					<div ng-if="currentBill==null"><h2>{{translationObj.main.formtitlebilldetails}}</h2></div>

					<sendemailtemplate is-form-pristine="currentBill==null" contacts="currentBill.contactsforemail"></sendemailtemplate>

					<form class="form-horizontal well pre-scrollable" id="map2" role="form" name="detailsForm" ng-show="currentBill" class="ng-hide">
						<!--$scope.context.preferedlanguage-->
						<billing current-bill="currentBill" current-language="currentLanguage" allow-splitting="true"></billing>
					</form>
				</div>
			</div>
		</div>				
	</row>
</section>
