<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newperiod.titleeditperiod}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group row">

			<div class="col-xs-5">
				<labelrequired for="arena" label="translationObj.newperiod.fieldarena"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id="arena" ng-model="newObj.arenaid" ng-change="onArenaChange(newObj)"
						ng-disabled="newObj.id != null && newObj.manual == '0'" required autofocus>
						<option ng-repeat="arena in arenas" value="{{arena.id}}">{{arena.label}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<labelrequired for="iceno" label="translationObj.newperiod.fieldice"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id="iceno" ng-model="newObj.iceid" ng-disabled="newObj.id != null && newObj.manual == '0'">
						<option ng-repeat="ice in ices" value="{{ice.id}}">{{ice.label}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-4">
				<labelrequired for="coursedate" label="translationObj.newperiod.fielddate"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="date" class="form-control" id="coursedate" ng-model="newObj.perioddate" ng-disabled="newObj.id != null && newObj.manual == '0'" required>
				</div>
			</div>

			<div class="col-xs-3">
				<labelrequired for="day" label="translationObj.newperiod.fieldday"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="day" ng-model="newObj.day" disabled>
						<option ng-repeat="day1 in days" value="{{day1.code}}">{{day1.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<labelrequired for="starttime" label="translationObj.newperiod.fieldstarttime"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="text" class="form-control" id="starttime" ng-model="newObj.starttime" ng-disabled="newObj.id != null && newObj.manual == '0'" required>
				</div>
			</div>

			<div class="col-xs-3">
				<labelrequired for="endtime" label="translationObj.newperiod.fieldendtime"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="text" class="form-control" id="endtime" ng-model="newObj.endtime" ng-disabled="newObj.id != null && newObj.manual == '0'" required>
				</div>
			</div>

			<div class="col-xs-5">
				<labelrequired for="label_en" label="translationObj.newperiod.fieldenglishlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="label_en" ng-model="newObj.label_en" maxlength="200">
				</div>
			</div>

			<div class="col-xs-5">
				<labelrequired for="label_fr" label="translationObj.newperiod.fieldfrenchlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="label_fr" ng-model="newObj.label_fr" maxlength="200">
				</div>
			</div>

			<div class="col-xs-2">
				<div class="input-group">
					<br>
					<label>
						<input type="checkbox" id="canceled" ng-model="newObj.canceled" ng-true-value="'1'" ng-disabled="newObj.registrations.length!=0">
						{{translationObj.newperiod.fieldcanceled}}
					</label>
				</div>
			</div>

		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newperiod.formerrormessage}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newperiod.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newperiod.buttontitlekeepchanges}}</button>
	</div>
</form>