<div>  
	<hr>
	<div class="row">  
		<div class="col-xs-3"> 
<!--			<span class="glyphicon glyphicon-remove" 	style="color:red" ng-show="contact.status && contact.status == 'Deleted'"></span>
			<span class="glyphicon glyphicon-pencil" 	style="color:red" ng-show="contact.status && contact.status == 'Modified'"></span>
			<span class="glyphicon glyphicon-plus" 		style="color:red" ng-show="contact.status && contact.status == 'New'"></span>-->
	         
			<span>
				<child-edit-button 			obj="contact" objlist="contacts" callback="editContact(contact)"></child-edit-button>
				<child-delete-button 		obj="contact" objlist="contacts" callback="setDirty()"></child-delete-button>
				<child-undelete-button 	obj="contact" objlist="contacts" callback="setDirty()"></child-undelete-button>
				<child-status-indicator obj="contact"></child-status-indicator>
<!--
				<button class="btn btn-primary glyphicon glyphicon-pencil" edit-contact-button="contact"  ng-disabled="disableContactButtons==true"></button>
				<button class="btn btn-primary glyphicon glyphicon-trash" 	delete-contact-button="contact" 			ng-show="!contact.status || (contact.status && (contact.status != 'Deleted' || contact.status == null))" ng-disabled="disableContactButtons==true"></button>
		    <button class="btn btn-primary glyphicon glyphicon-repeat" undelete-contact-button="contact" 		ng-show="contact.status && contact.status == 'Deleted'" ng-disabled="disableContactButtons==true"></button>
-->
			</span>
		</div>
	</div>
	<div class="row">  
		<div class="col-xs-3">          
		  <label for="country">Relation:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				<select class="form-control" id="country" ng-model="contact.contacttype" disabled maxlength="20">
					<option ng-repeat="contacttype in contacttypes" value="{{contacttype.code}}">{{contacttype.text}}</option>
				</select>
			</div>
		</div>
		
		<div class="col-xs-3">
			<label for="first">First Name:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    <input type="text" class="form-control" id="firstname" name="firstname" ng-model="contact.firstname" disabled maxlength="40" required>
		  </div>
		</div>
	
		<div class="col-xs-3">          
		  <label for="last">Last Name:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    <input type="text" class="form-control" id="lastname" name="lastname" ng-model="contact.lastname" disabled maxlength="40" required>
		  </div>
		</div>
		<div class="col-xs-3">          
		  <label for="homephone">Home Phone:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
		  	<input type="text" class="form-control" id="homephone" ng-model="contact.homephone" disabled maxlength="14">
			</div>
		</div>
	</div>
	<div class="row">  
		<div class="col-xs-3">          
		  <label for="cellphone">Cell Phone:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
		    <input type="text" class="form-control" id="cellphone" ng-model="contact.cellphone" disabled maxlength="14">
			</div>
		</div>
		
		<div class="col-xs-3">          
		  <label for="otherphone">Office Phone:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
		  	<input type="text" class="form-control" id="otherphone" ng-model="contact.officephone" disabled maxlength="14">
			</div>
		</div>
	
		<div class="col-xs-3">          
		  <label for="otherphone">Office Phone Ext:</label>
			<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
		  	<input type="text" class="form-control" id="otherphone" ng-model="contact.officeext" disabled maxlength="6">
			</div>
		</div>
		<div class="col-xs-3">          
			<br><label><input type="checkbox" ng-model="contact.incaseofemergency" ng-true-value="'1'" disabled> In Case of Emergency</label>
		</div>
	</div>
	<div class="row">
    <div class="col-xs-5">          
      <label for="email">Email:</label>
    	<div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      	<input type="text" class="form-control" id="email" ng-model="contact.email" maxlength="100" disabled>
    	</div>
    </div>
	</div>
</div>
