<div class="form-group">
	<h3>{{translationObj.courses.formtitlecourses}}&nbsp;({{filtered.length}}/{{currentSession.sessionCourses.length}})&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionCourse({})"></button>&nbsp;<button class="btn btn-primary glyphicon glyphicon-calendar" ng-click="viewSessionSchedule()"></button></h3>
	<span ng-repeat="coursecode in currentSession.coursecodes"><label><input type="checkbox" ng-model="coursecode.selected" ng-true-value="'1'" ng-change="onCourseCodeSelected(null)"> {{coursecode.coursecodelabel}} </label>&nbsp;&nbsp;</span>
	<button class="btn btn-primary btn-sm" ng-click="clearCourseCodesFilter()"><span>{{translationObj.courses.buttontitleclearcoursecodesfilter}}</span></button>
	<br>

	<div ng-repeat="course in filtered = (currentSession.sessionCourses | filter : filterCourses)" class="blackcurvyborder">
		<div class="row">
			<div class="col-xs-12">
				<a data-target="#{{$index}}" data-toggle="collapse" class="pointerlist">
							<strong><big>{{course.courselabel}} <span ng-if="course.levellabel!=null">{{translationObj.courses.fieldlevel}} {{course.levellabel}}</span></big></strong>
				</a>
					<span style="float:right">
						<child-edit-button 			obj="course" objlist="currentSession.sessionCourses" callback="editSessionCourse(course)"></child-edit-button>
						<child-delete-button 		obj="course" objlist="currentSession.sessionCourses" callback="setDirty()"></child-delete-button>
						<child-undelete-button 	obj="course" objlist="currentSession.sessionCourses" callback="setDirty()"></child-undelete-button>
						<child-status-indicator obj="course"></child-status-indicator>
					</span>
				<br>
		  	<p><b>{{translationObj.courses.fieldname}}</b>:&nbsp;{{course.name}}&nbsp;<b>{{translationObj.courses.fieldlabel}}</b>:&nbsp;{{course.courselabel}}&nbsp;<b>{{translationObj.courses.fieldminnbofskaters}}</b>:&nbsp;{{course.minnumberskater}}&nbsp;<b>{{translationObj.courses.fieldmaxnbofskaters}}</b>:&nbsp;{{course.maxnumberskater}}&nbsp;<b>{{translationObj.courses.fieldavailableonline}}</b>:&nbsp;{{course.availableonlinelabel}}&nbsp;<b>{{translationObj.courses.fieldfees}}</b>:&nbsp;{{course.fees | number:2}}</p>
		  	<p><b>{{translationObj.courses.fieldnbsublevel}}</b>:&nbsp;{{course.sublevels.length}}&nbsp;<b>{{translationObj.courses.fieldnbstaff}}</b>:&nbsp;{{course.staffs.length}}&nbsp;
		  		<!-- If schedule are allowed !-->
		  		<span ng-if="course.isschedule==1"><b>{{translationObj.courses.fieldnbschedule}}</b>:&nbsp;{{course.schedules.length}}&nbsp;<b>{{translationObj.courses.fielddatesgenerated}}</b>:&nbsp;{{course.datesgeneratedlabel}}</span>
		  		<!-- If schedule are NOT allowed !-->
		  		<span ng-if="course.isschedule==0"><b>{{translationObj.courses.fieldnoschedule}}</b></span>
		  	</p>
			</div>
		</div>
		
		<div id="{{$index}}" class="collapse">
			<form >
				<div id="childform1">
			  	<hr>
					<form>
						<strong>{{translationObj.courses.formtitlesublevels}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionCourseSublevel(course, {})"></button></strong>
						<div ng-repeat="sublevel in course.sublevels">
							<div class="row">
					      <div class="col-xs-1">
						      <label for="sublevelsequence" ng-show="$index==0">{{translationObj.courses.fieldsequence}}</label>
					        <input type="text" class="form-control" value="{{sublevel.sequence}}" disabled>
					      </div>
					      <div class="col-xs-2">
						      <label for="sublevelcode" ng-show="$index==0">{{translationObj.courses.fieldcode}}</label>
					        <input type="text" class="form-control" value="{{sublevel.code}}" disabled>
					      </div>

					      <div class="col-xs-2">
						      <label for="sublevellabel_en" ng-show="$index==0">{{translationObj.courses.fieldenglishlabel}}</label>
					        <input type="text" class="form-control" value="{{sublevel.label_en}}" disabled>
					      </div>

					      <div class="col-xs-2">
						      <label for="sublevellabel_fr" ng-show="$index==0">{{translationObj.courses.fieldfrenchlabel}}</label>
					        <input type="text" class="form-control" value="{{sublevel.label_fr}}" disabled>
					      </div>

				      	<div class="col-xs-2">
							    <label ng-show="$index==0">&nbsp;</label>
					      	<div class="input-group">
				    				<span>
											<child-edit-button 			obj="sublevel" objlist="course.sublevels" callback="editSessionCourseSublevel(course, sublevel)"></child-edit-button>
											<child-delete-button 		obj="sublevel" objlist="course.sublevels" callback="setDirty()"></child-delete-button>
											<child-undelete-button 	obj="sublevel" objlist="course.sublevels" callback="setDirty()"></child-undelete-button>
											<child-status-indicator obj="sublevel"></child-status-indicator>
										</span>
								  </div>
							  </div>

				      </div>
				    </div>
					</form>
					<hr>
					<form>
						<strong>{{translationObj.courses.formtitlestaff}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionCourseStaff(course, {})"></button></strong>
						<div ng-repeat="staff in course.staffs">
							<div class="row">
					      <div class="col-xs-2">
						      <label for="staffcode" ng-show="$index==0">{{translationObj.courses.fieldtype}}</label>
					        <input type="text" class="form-control" value="{{staff.staffcodelabel}}" disabled>
					      </div>

					      <div class="col-xs-2">
						      <label for="staffname" ng-show="$index==0">{{translationObj.courses.fieldname}}</label>
					        <input type="text" class="form-control" value="{{staff.name}}" disabled>
					      </div>

								<div class="col-xs-2">
						      <label for="statuscode" ng-show="$index==0">{{translationObj.courses.fieldstatus}}</label>
					        <input type="text" class="form-control" value="{{staff.statuscodelabel}}" disabled>
					      </div>

				      	<div class="col-xs-2">
							    <label ng-show="$index==0">&nbsp;</label>
					      	<div class="input-group">
				    				<span>
											<child-edit-button 			obj="staff" objlist="course.staffs" callback="editSessionCourseStaff(course, staff)"></child-edit-button>
											<child-delete-button 		obj="staff" objlist="course.staffs" callback="setDirty()"></child-delete-button>
											<child-undelete-button 	obj="staff" objlist="course.staffs" callback="setDirty()"></child-undelete-button>
											<child-status-indicator obj="staff"></child-status-indicator>
										</span>
								  </div>
							  </div>

				      </div>
				    </div>
					</form>
					<hr>
					<form>
						<strong>{{translationObj.courses.formtitleschedule}}&nbsp;
							<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionCourseSchedule(course, {})" ng-if="course.isschedule==1"></button>&nbsp;
							<button class="btn btn-primary" ng-click="generateCourseDates(course)" ng-if="userInfo.privileges.session_update==true&&course.isschedule==1"><span ng-if="course.datesgenerated=='0'">{{translationObj.courses.buttontitlegeneratedates}}</span><span ng-if="course.datesgenerated=='1'">{{translationObj.courses.buttontitleregeneratedates}}</span></button>
						</strong>
						<div ng-repeat="schedule in course.schedules">
							<div class="row">

					      <div class="col-xs-2">
						      <label for="arena" ng-show="$index==0">{{translationObj.courses.fieldarena}}</label>
					      		<select class="form-control" ng-model="schedule.arenaid" disabled>
											<option ng-repeat="arena in arenas" value="{{arena.id}}">{{arena.label}}</option>
					      		</select>
					      </div>

					      <div class="col-xs-2">
						      <label for="iceid" ng-show="$index==0">{{translationObj.courses.fieldice}}</label>
					        	<input type="text" class="form-control" ng-model="schedule.icelabel" disabled>
					      </div>

				      	<div class="col-xs-2">
							    <label ng-show="$index==0">{{translationObj.courses.fieldday}}</label>
										<select class="form-control" ng-model="schedule.day" disabled>
								    	<option ng-repeat="day1 in days" value="{{day1.code}}">{{day1.text}}</option>
								    </select>
							  </div>

					      <div class="col-xs-1">
						      <label for="starttime" ng-show="$index==0">{{translationObj.courses.fieldstarttime}}</label>
					        	<input type="text" class="form-control" ng-model="schedule.starttime" disabled>
					      </div>

					      <div class="col-xs-1">
						      <label for="endtime" ng-show="$index==0">{{translationObj.courses.fieldendtime}}</label>
					        	<input type="text" class="form-control" ng-model="schedule.endtime" disabled>
					      </div>

					      <div class="col-xs-1">
						      <label for="duration" ng-show="$index==0">{{translationObj.courses.fieldduration}}</label>
					        	<input type="text" class="form-control" ng-model="schedule.duration" disabled>
					      </div>

				      	<div class="col-xs-2">
							    <label ng-show="$index==0">&nbsp;</label>
					      	<div class="input-group">
				    				<span>
											<child-edit-button 			obj="schedule" objlist="course.schedules" callback="editSessionCourseSchedule(course, schedule)"></child-edit-button>
											<child-delete-button 		obj="schedule" objlist="course.schedules" callback="setDirty()"></child-delete-button>
											<child-undelete-button 	obj="schedule" objlist="course.schedules" callback="setDirty()" ng-if="course.isschedule==1"></child-undelete-button>
											<child-status-indicator obj="schedule"></child-status-indicator>
										</span>
								  </div>
							  </div>

						  </div> <!-- div class="row" -->
					  </div> <!-- ng-repeat -->
					</form>

				</div>
			</form>
		</div>
	</div>
</div>
