<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitle}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-calendar"
				ng-click="viewSessionCalendar()"></button></h3>
		<div class="row">
			<div class="col-xs-10">
				<label for="name">{{translationObj.details.fieldname}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentSession.name"
						maxlength="40" required autocomplete="off">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
				<label for="name">{{translationObj.details.fieldenglishlabel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_en" class="form-control" id="label_en"
						ng-model="currentSession.label_en" maxlength="200" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
				<label for="name">{{translationObj.details.fieldfrenchlabel}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_fr" class="form-control" id="label_fr"
						ng-model="currentSession.label_fr" maxlength="200" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="startdate">{{translationObj.details.fieldsessionstartdate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="startdate" class="form-control" id="startdate"
						ng-model="currentSession.startdate" required>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="enddate">{{translationObj.details.fieldsessionenddate}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="enddate" class="form-control" id="enddate"
						ng-model="currentSession.enddate" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="coursesstartdate">{{translationObj.details.fieldcoursesstartdate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="coursesstartdate" class="form-control" id="coursesstartdate"
						ng-model="currentSession.coursesstartdate" required>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="coursesenddate">{{translationObj.details.fieldcoursesenddate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="coursesenddate" class="form-control" id="coursesenddate"
						ng-model="currentSession.coursesenddate" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="reimbursementdate">{{translationObj.details.fieldreimbursementenddate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="reimbursementdate" class="form-control" id="reimbursementdate"
						ng-model="currentSession.reimbursementdate" required>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="agereferencedate">{{translationObj.details.fieldagereferencedate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="agereferencedate" class="form-control" id="agereferencedate" ng-model="currentSession.agereferencedate" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="proratastartdate">{{translationObj.details.fieldproratastartdate}}<i style="color:red">*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="proratastartdate" class="form-control" id="proratastartdate"
						ng-model="currentSession.proratastartdate" required>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="prorataoptions">{{translationObj.details.fieldprorataoptions}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id='prorataoptions' ng-model="currentSession.prorataoptions">
						<option ng-repeat="option in prorataoptions" value="{{option.code}}">{{option.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="previoussessionid">{{translationObj.details.fieldprevioussessionid}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id="previoussessionid" ng-model="currentSession.previoussessionid">
						<option ng-repeat="session in sessions" value="{{session.id}}">{{session.label}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="attendancepaidinfull">{{translationObj.details.fieldattendancepaidinfull}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id='attendancepaidinfull' ng-model="currentSession.attendancepaidinfull">
						<option ng-repeat="option in yesnos" value="{{option.code}}">{{option.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<label for="lastupdateddate">{{translationObj.details.fieldlastupdateddate}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="datetime-local" name="lastupdateddate" class="form-control" id="lastupdateddate"
						ng-model="currentSession.lastupdateddate" disabled>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<div class="input-group">
					<br><label><input type="checkbox" id="active" ng-model="currentSession.active" ng-true-value="'1'"
							disabled>{{translationObj.details.fieldactive}}</label>
				</div>
			</div>
		</div>
	</div>
</div>