<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.icetimes.formtitle}}&nbsp;
			<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editSessionIcetime({})"></button>
		</h3>
		<div ng-repeat="icetime in currentSession.icetimes">
			<hr>
			<div class="row">
				<div class="col-xs-10">
					<p>
						<b>{{translationObj.icetimes.fieldarena}}</b>:&nbsp;<span ng-class="{redfont : icetime.arenaactive==0}">{{icetime.arenalabel}}</span>&nbsp;
						<span ng-if="icetime.iceid!=null"><b>{{translationObj.icetimes.fieldice}}</b>:&nbsp;{{icetime.icelabel}}&nbsp;</span>
						<b>{{translationObj.icetimes.fieldday}}</b>:&nbsp;{{icetime.daylabel}}&nbsp;
						<b>{{translationObj.icetimes.fieldstarttime}}</b>:&nbsp;{{icetime.starttime}}&nbsp;
						<b>{{translationObj.icetimes.fieldendtime}}</b>:&nbsp;{{icetime.endtime}}&nbsp;
						<b>{{translationObj.icetimes.fieldduration}}</b>:&nbsp;{{icetime.duration}}
						<b>{{translationObj.icetimes.fieldcomments}}</b>:&nbsp;{{icetime.comment}}
						<helptext ng-if="icetime.arenaactive==0" class="redfont"><br><small>{{translationObj.icetimes.msgwarningarenainactive}}</small></helptext>
					</p>
				</div>
				<div class="col-xs-2">
					<span>
						<child-edit-button obj="icetime" objlist="currentSession.icetimes" callback="editSessionIcetime(icetime)"></child-edit-button>
						<child-delete-button obj="icetime" objlist="currentSession.icetimes" callback="setDirty()"></child-delete-button>
						<child-undelete-button obj="icetime" objlist="currentSession.icetimes" callback="setDirty()"></child-undelete-button>
						<child-status-indicator obj="icetime"></child-status-indicator>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>