<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newcharge.formtitleeditcharge}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group row">
      <div class="col-xs-5">
	      <label for="chargecode">{{translationObj.newcharge.fieldcharge}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      		<select class="form-control" id="chargecode" ng-model="newObj.chargecode" required ng-disabled="newObj.id != null">
						<option ng-repeat="charge in charges" value="{{charge.code}}">{{charge.label}}</option>
      		</select>
      	</div>
      </div>

	    <div class="col-xs-3">
	      <label for="amount">{{translationObj.newcharge.fieldamount}}<i style="color:red"> *</i></label>
	    	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	      	<input type="text" class="form-control" id="amount" ng-model="newObj.amount" ng-currency required>
	    	</div>
	    </div>
			<!-- Filler -->
			<div class="clearfix"></div>

      <div class="col-xs-3">
	      <label for="startdate">{{translationObj.charges.fieldstartdate}}</label>
	    	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	      	<input type="date" class="form-control" id="startdate" ng-model="newObj.startdate">
  	    </div>
      </div>

      <div class="col-xs-3">
	      <label for="enddate">{{translationObj.charges.fieldenddate}}</label>
	    	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	      	<input type="date" class="form-control" id="enddate" ng-model="newObj.enddate">
  	    </div>
      </div>
  	</div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newcharge.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()"	>{{translationObj.newcharge.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()"			>{{translationObj.newcharge.buttontitlekeepchanges}}</button>
</div>
