<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newevents.formtitleeditevent}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col-xs-3">
				<labelrequired for="type" label="translationObj.newevents.fieldtype"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<select class="form-control" id="type" ng-model="newObj.type" required autofocus>
						<option ng-repeat="eventtype in eventtypes" value="{{eventtype.code}}">{{eventtype.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-3">
				<labelrequired for="eventdate" label="translationObj.newevents.fielddate"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="date" class="form-control" id="eventdate" ng-model="newObj.eventdate" required>
				</div>
			</div>

			<div class="col-xs-7">
				<labelrequired for="label_en" label="translationObj.newevents.fieldlabel_en"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="label_en" ng-model="newObj.label_en" maxlength="200" required>
				</div>
			</div>

			<div class="col-xs-7">
				<labelrequired for="label_fr" label="translationObj.newevents.fieldlabel_fr"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="label_fr" ng-model="newObj.label_fr" maxlength="200" required>
				</div>
			</div>

		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newevents.formerrormessage}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newevents.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newevents.buttontitlekeepchanges}}</button>
	</div>
</form>