<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newregistrations.formtitleeditregistration}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group row">
      <div class="col-xs-5">
	      <label for="location">{{translationObj.newregistrations.fieldlocation}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="text" class="form-control" id="location" ng-model="newObj.location" maxlength="100" required>
      	</div>
      </div>

      <div class="col-xs-5">
	      <label for="registrationdate">{{translationObj.newregistrations.fielddate}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="date" class="form-control" id="registrationdate" ng-model="newObj.registrationdate" required>
      	</div>
      </div>

      <div class="col-xs-3">
	      <label for="starttime">{{translationObj.newregistrations.fieldstarttime}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="time" class="form-control" id="starttime" ng-model="newObj.starttime" required>
	      </div>
      </div>

      <div class="col-xs-3">
	      <label for="endtime">{{translationObj.newregistrations.fieldendtime}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="time" class="form-control" id="endtime" ng-model="newObj.endtime" required>
	      </div>
      </div>

      <div class="col-xs-3">
	      <label for="comments">{{translationObj.newregistrations.fieldcomments}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	        <input type="text" class="form-control" id="comments"  ng-model="newObj.comments" maxlength="200">
	      </div>
      </div>

  	</div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newregistrations.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()"	>{{translationObj.newregistrations.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()"			>{{translationObj.newregistrations.buttontitlekeepchanges}}</button>
</div>
