<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newsublevel.formtitleeditsublevel}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col-xs-2">
				<labelrequired for="code" label="translationObj.newsublevel.fieldcode"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" id="code" ng-model="newObj.code" maxlength="30" required capitalize autofocus>
				</div>
			</div>

			<div class="col-xs-4">
				<labelrequired for="label_en" label="translationObj.newsublevel.fieldenglishlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" id="label_en" ng-model="newObj.label_en" maxlength="300" required>
				</div>
			</div>

			<div class="col-xs-4">
				<labelrequired for="label_fr" label="translationObj.newsublevel.fieldfrenchlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" id="label_fr" ng-model="newObj.label_fr" maxlength="300" required>
				</div>
			</div>

			<div class="col-xs-2">
				<labelrequired for="sequence" label="translationObj.newsublevel.fieldsequence"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="number" class="form-control" id="sequence" ng-model="newObj.sequence" min="0" max="99" required>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newsublevel.formerrormessage}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newsublevel.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newsublevel.buttontitlekeepchanges}}</button>
	</div>
</form>
