<div class="modal-header">
	<h4 class="modal-title">{{translationObj.newprivilege.formtitlenewprivilege}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="editObjForm">
		<div class="form-group">
			<div class="col-xs-12">
				<labelrequired for="privilegeid" label="translationObj.newprivilege.fieldtitleprivilege"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="privilegeid" ng-model="newObj.privilegeid" required>
						<option ng-repeat="priv in tmpPrivileges" value="{{priv.id}}">{{priv.text}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
		{{translationObj.newprivilege.formerrormessage}}
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newprivilege.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()">{{translationObj.newprivilege.buttontitlekeepchanges}}</button>
</div>