<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
			<div class="col-xs-2">
				<label for="id">{{translationObj.details.fieldtitleid}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
					<input type="text" class="form-control" id="id" ng-model="currentRole.id" maxlength="11" disabled>
				</div>
			</div>
			<div class="col-xs-2">
				<labelrequired for="roleid" label="translationObj.details.fieldtitlerole"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="roleid" ng-model="currentRole.roleid" maxlength="30"
						ng-disabled="currentRole.issystem==1" required>
				</div>
			</div>
			<div class="col-xs-8">
				<labelrequired for="rolename" label="translationObj.details.fieldtitlename"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" class="form-control" id="rolename" ng-model="currentRole.rolename" maxlength="200"
						ng-disabled="currentRole.issystem==1" required>
				</div>
			</div>
		</div>

		<hr>
		<h3>{{translationObj.details.formtitleprivileges}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus"
				ng-click="editPrivilege({})" ng-disabled="currentRole.issystem==1"></button></h3>
		<hr>
		<div ng-repeat="privilege in currentRole.privileges">
			<div class="row">
				<div class="col-xs-5">
					<label for="privilegeid{{$index}}" ng-if="$index==0">{{translationObj.details.fieldtitleprivilege}}</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<select class="form-control" id="privilegeid{{$index}}" ng-model="privilege.privilegeid" disabled>
							<option ng-repeat="priv in privileges" value="{{priv.id}}">{{priv.text}}</option>
						</select>
					</div>
				</div>
				<div class="col-xs-2">
					<label ng-if="$index==0">&nbsp;</label>
					<div class="input-group">
						<span>
							<!-- <child-edit-button obj="privilege" objlist="currentRole.privileges"	callback="editPrivilege(privilege)"	is-form-pristine="currentRole.issystem==1"></child-edit-button> -->
							<child-delete-button obj="privilege" objlist="currentRole.privileges" callback="setDirty()"	is-form-pristine="currentRole.issystem==1"></child-delete-button>
							<child-undelete-button obj="privilege" objlist="currentRole.privileges"	callback="setDirty()" is-form-pristine="currentRole.issystem==1"></child-undelete-button>
							<child-status-indicator obj="privilege"></child-status-indicator>
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>