<div class="modal-header">
  <h4 class="modal-title">{{translationObj.newsection.formtitleeditsection}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group">

      <div class="col-xs-5">
        <label for="title_fr">{{translationObj.newsection.fieldtitlename}}<i style="color:red"> *</i></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" id="sectionname" ng-model="newObj.sectionname" disabled>
        </div>
      </div>

      <div class="col-xs-2">
        <label for="sectionindex">{{translationObj.newsection.fieldtitlesectionindex}}<i style="color:red"> *</i></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="number" name="pagesectionindex" class="form-control" id="pagesectionindex" ng-model="newObj.pagesectionindex" min="1" max="999" required disabled>
        </div>
      </div>

      <div class="col-xs-2">
        <label for="active">{{translationObj.newsection.fieldtitlevisible}}<i style="color:red"> *</i></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select class="form-control" id="visible" ng-model="newObj.visible" >
            <option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <label for="active">{{translationObj.newsection.fieldtitlevisibleinnavbar}}<i style="color:red"> *</i></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select class="form-control" id="visibleinnavbar" ng-model="newObj.visibleinnavbar" >
            <option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
          </select>
        </div>
      </div>

  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.newnewObj.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()"	>{{translationObj.newsection.buttontitlediscard}}</button>
  <button type="button" class="btn btn-primary" ng-click="ok()"			>{{translationObj.newsection.buttontitlekeepchanges}}</button>
</div>
