<div class="form-group">
	<div>
		<h3>{{course.name}}</h3>
	  <form class="form-horizontal well" role="form" name="staffsForm" ng-show="currentSession">
		  <p ng-if="currentEvent.type==1"><b>{{translationObj.details.coursetype}}</b>: {{currentCourse.courselabel}}&nbsp;<b>{{translationObj.details.courselevel}}</b>: {{currentCourse.levellabel}}</p>
		  <p ng-if="currentEvent.type==2"><b>{{translationObj.details.coursetype}}</b>: {{translationObj.details.shownumber}}</p>
			<div>
				<table width="100%" border="1">
					<tr>
						<th nowrap>{{translationObj.coachform.titlestaff}}</th>
			  		<th ng-repeat="date in currentCourse.dates" class="verticalTableHeader">{{date.coursedate}}</th>
						<th></th>
					</tr>
					<tr ng-repeat="staff in currentCourse.staffsperm">
			  		<td nowrap>{{staff.firstname}} {{staff.lastname}} ({{staff.staffcodelabel}})</td>
			  		<!-- TODO : this should be the attendance of the member -->
			  		<td align="center" ng-repeat="date2 in staff.dates">
			  			<presence-multistate-button obj="date2" state="date2.ispresent" statelist="presencetypes" callback="setDirty()"></presence-multistate-button>
			  		</td>
			  	</tr>
					<tr>
						<th nowrap>{{translationObj.coachform.titlestaffrepl}}</th>
			  		<th ng-repeat="date in currentCourse.dates" class="verticalTableHeader">{{date.coursedate}}</th>
						<th></th>
					</tr>
					<tr ng-repeat="staff in currentCourse.staffsrepl">
			  		<td nowrap>{{staff.firstname}} {{staff.lastname}} ({{staff.staffcodelabel}})</td>
			  		<!-- TODO : this should be the attendance of the member -->
			  		<td align="center" ng-repeat="date2 in staff.dates">
							<presence-multistate-button obj="date2" state="date2.ispresent" statelist="presencetypes" callback="setDirty()"></presence-multistate-button>
			  		</td>
			  	</tr>
				</table>
			</div>

	  </form>
  </div>
</div>
