<div class="form-group">
	<div ng-if="currentEvent.type==1">
		<table width="100%">
			<tr>
				<td width="90%">
					<b>{{translationObj.details.coursetype}}</b>:&nbsp;{{currentCourse.codelabel}}&nbsp;{{currentCourse.levellabel}}&nbsp;
					<span ng-if="currentCourse.startdate!=null"><b>{{translationObj.details.labelstartdate}}</b>:&nbsp;{{currentCourse.startdate}}&nbsp;</span>
					<span ng-if="currentCourse.enddate!=null"><b>{{translationObj.details.labelenddate}}</b>:&nbsp;{{currentCourse.enddate}}&nbsp;</span>
					<b>{{translationObj.details.labelavailonline}}</b>:&nbsp;{{currentCourse.availableonlinelabel}}&nbsp;
					<br>
					<b>{{translationObj.details.labelnbofskaters}}</b>:&nbsp;{{currentCourse.members.length}}&nbsp;
					<b>{{translationObj.details.labelminnumberskaters}}</b>:&nbsp;{{currentCourse.minnumberskater}}&nbsp;
					<b>{{translationObj.details.labelmaxnumberskaters}}</b>:&nbsp;{{currentCourse.maxnumberskater}}&nbsp;
					</br>
					<span ng-if="currentCourse.isschedule==1">
						<b>{{translationObj.details.labelschedule}}</b>:&nbsp;{{currentCourse.schedules}}&nbsp;
						<span ng-if="currentCourse.datesgenerated==0" class="redfont">({{translationObj.details.labeldatesnotgenerated}})</span>
					</span>
					<span ng-if="currentCourse.isschedule==0"><b>{{translationObj.details.labelmanualschedule}}</b></span>
				</td>
				<td width="10%">
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="currentEvent.type==2">
		<b>{{translationObj.details.coursetype}}</b>:&nbsp;{{translationObj.details.shownumber}}
		<span ng-if="currentCourse.practicesstartdate!=null"><b>{{translationObj.details.labelstartdate}}</b>:&nbsp;{{currentCourse.practicesstartdate}}&nbsp;</span>
		<span ng-if="currentCourse.practicesenddate!=null"><b>{{translationObj.details.labelenddate}}</b>:&nbsp;{{currentCourse.practicesenddate}}&nbsp;</span>
		<br>
		<b>{{translationObj.details.labelnbofskaters}}</b>:&nbsp;{{currentCourse.members.length}}&nbsp;
		<br>
		<span ng-if="currentCourse.schedules && currentCourse.schedules.length > 0">
			<b>{{translationObj.details.labelschedule}}</b>:&nbsp;{{currentCourse.schedules}}&nbsp;
			<span ng-if="currentCourse.datesgenerated==0" class="redfont">({{translationObj.details.labeldatesnotgenerated}})</span>
		</span>
		<span ng-if="!currentCourse.schedules || currentCourse.schedules.length == 0"><b>{{translationObj.details.labelmanualschedule}}</b></span>
	</div>
	<div>
		<table width="100%" border="1">
			<tr>
				<th nowrap>{{translationObj.details.labelskater}}</th>
				<th ng-if="currentEvent.type==1" nowrap>{{translationObj.details.labelsublevel}}</th>
				<th ng-repeat="date in currentCourse.dates" class="verticalTableHeader">{{date.coursedate}}</th>
				<th></th>
			</tr>
			<tr ng-repeat="member in currentCourse.members">
				<td nowrap>{{member.firstname}} {{member.lastname}}</td>
				<td ng-if="currentEvent.type==1">
					<select class="form-control" id="sublevelcode" ng-model="member.sublevelcode" style="width:150px" ng-if="courseSublevels && courseSublevels.length>1">
						<option ng-repeat="sublevel in courseSublevels" value="{{sublevel.code}}">{{sublevel.text}}</option>
					</select>
				</td>
				<td align="center" ng-repeat="date2 in member.dates">
					<span ng-if="date2.ispresent==1 || date2.ispresent==0 || date2.ispresent==null">
						<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'"	ng-model="date2.ispresent">
					</span>
					<span ng-if="date2.ispresent!=1 && date2.ispresent!=0">{{date2.ispresent}}</span>
				</td>
			</tr>
		</table>
	</div>
</div>