<!DOCTYPE html>
<html class="no-js" ng-app="cpa_ws_admin" ng-controller="websiteCtrl" ng-init="init('showsandperformances', 'fr-ca')" ng-cloak>
<head>
  <script>
    var shiftWindow = function() { scrollBy(0, -110) };
    window.addEventListener("hashchange", shiftWindow);
    function load() {
      if (window.location.hash) {
        shiftWindow();
      }
    }
  </script>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="/public_html/images/logo_jenial.png" type="image/x-icon">
  <title ng-bind="currentpage.globalsections.footer.label"></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Template CSS Files
  ================================================== -->
  <!-- Twitter Bootstrs CSS -->
  <link rel="stylesheet" href="/public_html/website/plugins/bootstrap/bootstrap.min.css">
  <!-- Ionicons Fonts Css -->
  <link rel="stylesheet" href="/public_html/website/plugins/ionicons/ionicons.min.css">
  <!-- animate css -->
  <link rel="stylesheet" href="/public_html/website/plugins/animate-css/animate.css">
  <!-- Hero area slider css-->
  <link rel="stylesheet" href="/public_html/website/plugins/slider/slider.css">
  <!-- owl craousel css -->
  <link rel="stylesheet" href="/public_html/website/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/public_html/website/plugins/owl-carousel/owl.theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="/public_html/website/plugins/facncybox/jquery.fancybox.css">
  <!-- angular Busy -->
  <link rel="stylesheet" href="/public_html/website/plugins/angularBusy/angular-busy.css">
  <!-- Alertify -->
  <link rel="stylesheet" href="/public_html/dist/alertify.core.css" />
	<link rel="stylesheet" href="/public_html/dist/alertify.default.css" />
  <!-- template main css file -->
  <link rel="stylesheet" href="/public_html/website/css/style.css">
</head>
<body onload="load()">

<!--
==================================================
Main menu Section Start
================================================== -->
<ng-include src="'/public_html/website/templates/mainmenu.template.html'"></ng-include>

<!--
==================================================
Main header Section Start
================================================== -->
<ng-include src="'/public_html/website/templates/mainheader.template.html'"></ng-include>

<!--
==================================================
    Show Description Section Start
================================================== -->
<section id="company-description" ng-if="currentpage.globalsections.showdescription">
  {{currentsection=currentpage.globalsections.showdescription;""}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
        <img ng-src="/websiteimages/sections/{{currentpage.globalsections.showdescription.imagefilename}}" alt="" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="block">
          <ng-include src="'/public_html/website/templates/sectiontitle.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/toplinks.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/paragraph.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/bottomlinks.template.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
==================================================
Shows List Section Start
================================================== -->
<section id="team" ng-if="currentpage.globalsections.showlist">
  {{currentsection=currentpage.globalsections.showlist;""}}
  <div class="container">
    <div class="row">
      <ng-include src="'/public_html/website/templates/sectiontitle.template.html'"></ng-include>
      <!--
      <ng-include src="'/public_html/website/templates/toplinks.template.html'"></ng-include>
      <ng-include src="'/public_html/website/templates/paragraph.template.html'"></ng-include>
      <ng-include src="'/public_html/website/templates/bottomlinks.template.html'"></ng-include>
      -->
    </div>
			<!-- Shows -->
    <div class="row" ng-repeat="oneshow in currentpage.globalsections.showlist.showlist" >
	    <div class="col-md-6" ng-show="$even">
	      <div class="block">
	        <img class="img-responsive" ng-src="/websiteimages/shows/{{oneshow.imagefilename}}" alt="">
	      </div>
      </div>

      <div class="col-md-6">
	      <div class="col-xs-12 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
	<!--          <h3><a href="testsessiondetails.html?testsessionid={{oneshow.id}}">{{oneshow.showlabel}}</a></h3> -->
	        <h2>{{oneshow.showlabel}}</h2>
					<div  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-repeat="oneparagraph in oneshow.paragraphs">
						<div ng-if="oneparagraph.markdownmsg!=null" ng-bind-html="oneparagraph.markdownmsg"></div>
						<div ng-if="oneparagraph.markdownmsg==null">
						  <h3>{{oneparagraph.title}}</h3>
						  <h4>{{oneparagraph.subtitle}}</h4>
						  <p>{{oneparagraph.paragraphtext}}</p>
						</div>
					</div>
        	<h3>Règlements</h3>
					<div  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-repeat="oneparagraph in oneshow.rulesparagraphs">
						<div ng-if="oneparagraph.markdownmsg!=null" ng-bind-html="oneparagraph.markdownmsg"></div>
						<div ng-if="oneparagraph.markdownmsg==null">
						  <h3>{{oneparagraph.title}}</h3>
						  <h4>{{oneparagraph.subtitle}}</h4>
						  <p>{{oneparagraph.paragraphtext}}</p>
						</div>
					</div>
					<!-- Performances -->
	    		<div ng-repeat="oneperf in oneshow.performances" >
	        	<h3>{{oneperf.performancelabel}}</h3>
						
						<p><b>Date&nbsp;:</b>&nbsp;{{oneperf.perfdate}}</p>
						<p><b>Lieu&nbsp;:</b>&nbsp;{{oneperf.arenalabel}}&nbsp;<span ng-if="oneperf.icelabel!=null"><b>Glace&nbsp;:</b>&nbsp;{{oneperf.icelabel}}</span></p>
						<p><b>Heure&nbsp;:</b>&nbsp;{{oneperf.starttime}}&nbsp;à&nbsp;{{oneperf.endtime}}</p>
						
	          <table width="50%" border="0">
	            <tr>
	              <th>Groupe</th>
	              <th>Heure arrivée</th>
	              <th>Heure départ</th>
	            </tr>
	            <tr>
	              <td>Patineurs</td>
	              <td>{{oneperf.skatersarrivaltime}}</td>
	              <td>{{oneperf.skatersdeparturetime}}</td>
	            </tr>
	            <tr>
	              <td>Bénévoles</td>
	              <td>{{oneperf.volunteersarrivaltime}}</td>
	              <td>{{oneperf.volunteersdeparturetime}}</td>
	            </tr>
	          </table><br>
	          
	          <table width="50%" border="0">
	          	<tr><th colspan="2">Frais</th></tr>
	            <tr ng-repeat="price in oneperf.prices">
	              <td width="60%">{{price.pricetypelabel}}<span ng-if="price.pricetype!=4">&nbsp;({{price.agemin}} <span ng-if="price.agemax!=null && price.agemax!=0">&nbsp;à&nbsp;{{price.agemax}}</span><span ng-if="price.agemax==null || price.agemax==0">&nbsp;et&nbsp;+</span>)</span></td>
	              <td>{{price.amount | currency}}</td>
	            </tr>
	            <tr colspan="2"><td><span ng-if="oneperf.prices.length==0">Gratuit</span></td></tr>
	          </table><br>
	        </div>
        </div>
      </div>

      <div class="col-md-6" ng-show="$odd">
        <div class="block">
          <img class="img-responsive" ng-src="/websiteimages/shows/{{oneshow.imagefilename}}" alt="">
        </div>
      </div>

      <hr>
    </div>

  </div>
</section>

<!--
==================================================
    Competitions Description Section Start
================================================== -->
<section id="company-description" ng-if="currentpage.globalsections.competitions">
  {{currentsection=currentpage.globalsections.competitions;""}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
        <img ng-src="/websiteimages/sections/{{currentpage.globalsections.competitions.imagefilename}}" alt="" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="block">
          <ng-include src="'/public_html/website/templates/sectiontitle.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/toplinks.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/paragraph.template.html'"></ng-include>
          <ng-include src="'/public_html/website/templates/bottomlinks.template.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
==================================================
    Partners Section Start
================================================== -->
<ng-include src="'/public_html/website/templates/partners.template.html'"></ng-include>

<!--
==================================================
Call To Action Section Start
================================================== -->
<ng-include src="'/public_html/website/templates/calltoaction.template.html'"></ng-include>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design et développement par <a href="http://www.jenial.ca" target="_blank">JeNiAl</a>.</p>
    </div>
  </div>
</footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="/public_html/website/plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="/public_html/website/plugins/form-validation/jquery.form.js"></script>
    <script src="/public_html/website/plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="/public_html/website/plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- bootstrap js -->
	<script src="/public_html/website/plugins/bootstrap/bootstrap.min.js"></script>
  <!-- angular js -->
	<script src="/public_html/website/plugins/angularJS/angular.min.js"></script>
	<!-- wow js -->
	<script src="/public_html/website/plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="/public_html/website/plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="/public_html/website/plugins/facncybox/jquery.fancybox.js"></script>
  <!-- Alertify -->
  <script type="text/javascript" src="/public_html/dist/alertify.min.js"></script>
  <!-- angular JS module and controller -->
	<script src="/public_html/website/js/app.js"></script>
	<!-- template main js -->
	<script src="/public_html/website/js/main.js"></script>
  <!-- Remarkable -->
	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
 	</body>
</html>
