<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.filter.formtitlefilter}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="col-xs-5">
				<label for="firstname">{{translationObj.filter.fieldfirstname}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="firstname" name="firstname" class="form-control" ng-model="newObj.firstname" maxlength="40" autofocus>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="lastname">{{translationObj.filter.fieldLastname}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="lastname" name="lastname" class="form-control" ng-model="newObj.lastname" maxlength="40">
				</div>
			</div>
			<div class="col-xs-5">
				<label for="agemin">{{translationObj.filter.fieldagemin}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="number" id="agemin" name="agemin" class="form-control" ng-model="newObj.agemin" min="1" max="99">
				</div>
			</div>
			<div class="col-xs-5">
				<label for="canskatebadgemin">{{translationObj.filter.fieldcanskatebadgemin}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="canskatebadgemin" name="canskatebadgemin" ng-model="newObj.canskatebadgemin">
						<option value=""></option>
						<option ng-repeat="badge in canskatebadges" value="{{badge.code}}">{{badge.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="course">{{translationObj.filter.fieldcourse}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
					<select class="form-control" id="course" name="course" ng-model="newObj.course">
						<option value=""></option>
						<option ng-repeat="course in activeCourses" value="{{course.id}}">{{course.label}} ({{course.name}})</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="registration">{{translationObj.filter.fieldmembers}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
					<select class="form-control" id="registration" name="registration" ng-model="newObj.registration">
						<option value=""></option>
						<option ng-repeat="registrationfilter in registrationfilters" value="{{registrationfilter.code}}">{{registrationfilter.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group" ng-if="newObj.course!=null && newObj.course!=''">
					<br>
					<label for="onlyactivemembers">
						<input type="checkbox" id="onlyactivemembers" ng-model="newObj.onlyactivemembers" ng-true-value="'1'" ng-false-value="'0'">
						{{translationObj.filter.fieldonlyactivemembers}}
					</label>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="qualification">{{translationObj.filter.fieldqualifications}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
					<select class="form-control" id="qualification" name="qualification" ng-model="newObj.qualification">
						<option value=""></option>
						<option ng-repeat="qualification in qualifications" value="{{qualification.code}}">{{qualification.text}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.filter.buttontitlediscard}}</button>
		<button type="button" class="btn btn-primary" ng-click="cancel(true)">{{translationObj.filter.buttontitledismiss}}</button>
		<button type="button" class="btn btn-primary" ng-click="newObj={}">{{translationObj.filter.buttontitleclearform}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.filter.buttontitleapplyfilter}}</button>
	</div>
</form>