<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newcoach.formtitleeditcoach}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col-xs-4">
				<labelrequired for="coachtype" label="translationObj.newcoach.fieldtype"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="coachtype" name="coachtype" ng-model="newObj.coachtype" required autofocus>
						<option ng-repeat="coachtype in coachtypes" value="{{coachtype.code}}">{{coachtype.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<labelrequired for="coachname" label="translationObj.newcoach.fieldcoachpartner"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="coachname" name="coachname" ng-model="newObj.coachid" ng-disabled="newObj.id!=null" required>
						<option ng-repeat="coach1 in allcoaches" value="{{coach1.id}}">{{coach1.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newcoach.formerrormessage}}
		</div>
		<div class="alert alert-danger" id="editObjStaffAlreadyExists" style="display:none;">
			{{translationObj.newcoach.formerrstaffalreadyexists}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newcoach.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newcoach.buttontitlekeepchanges}}</button>
	</div>
</form>