<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.filter.formtitlefilter}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="col-xs-5">
				<label for="firstname">{{translationObj.filter.fieldfirstname}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="firstname" name="firstname" class="form-control" ng-model="newObj.firstname" maxlength="40" autofocus>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="lastname">{{translationObj.filter.fieldLastname}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="lastname" name="lastname" class="form-control" ng-model="newObj.lastname" maxlength="40">
				</div>
			</div>
			<div class="col-xs-5">
				<label for="role">{{translationObj.filter.fieldrole}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="role" name="role" ng-model="newObj.role">
						<option value=""></option>
						<option ng-repeat="role in roles" value="{{role.id}}">{{role.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="nbmonthsinceloggin">{{translationObj.filter.fieldnbmonthsinceloggin}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="number" id="nbmonthsinceloggin" class="form-control" ng-model="newObj.nbmonthsinceloggin">
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group">
					<br>
					<label for="onlyexpiredpassword">
						<input type="checkbox" id="onlyexpiredpassword" ng-model="newObj.onlyexpiredpassword" ng-true-value="'1'" ng-false-value="'0'">
						{{translationObj.filter.fieldonlyexpiredpassword}}
					</label>
				</div>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.filter.buttontitlediscard}}</button>
		<button type="button" class="btn btn-primary" ng-click="cancel(true)">{{translationObj.filter.buttontitledismiss}}</button>
		<button type="button" class="btn btn-primary" ng-click="newObj={}">{{translationObj.filter.buttontitleclearform}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.filter.buttontitleapplyfilter}}</button>
	</div>
</form>