<div class="modal-header">
	<h4 class="modal-title">{{translationObj.newrole.formtitlenewrole}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" user="form" name="editObjForm">
		<div class="form-group">
			<div class="col-xs-8">
				<labelrequired for="roleid" label="translationObj.newrole.fieldtitlerole"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="roleid" ng-model="newObj.roleid" required>
						<option ng-repeat="priv in tmpRoles" value="{{priv.id}}">{{priv.text}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
		{{translationObj.newrole.formerrormessage}}
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newrole.buttontitlediscard}}</button>
	<button type="button" class="btn btn-primary" ng-click="ok()">{{translationObj.newrole.buttontitlekeepchanges}}</button>
</div>