<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
			<div class="col-xs-2">
				<labelrequired for="userid" label="translationObj.details.fieldtitleuserid"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="userid" ng-model="currentUser.userid" maxlength="128" required 
						autocomplete="off" ng-disabled="currentUser.issystem==1">
				</div>
			</div>
			<div class="col-xs-5">
				<labelrequired for="fullname" label="translationObj.details.fieldtitlename"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="fullname" ng-model="currentUser.fullname" maxlength="120" required
						ng-disabled="currentUser.issystem==1">
				</div>
			</div>
			<div class="col-xs-2">
				<labelrequired for="preferedlanguage" label="translationObj.details.fieldtitlepreferedlanguage"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
					<select class="form-control" id="preferedlanguage" ng-model="currentUser.preferedlanguage" required>
						<option ng-repeat="language in preferedlanguages" value="{{language.code}}">{{language.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" ng-if="userInfo.privileges.user_changepassword==true">
			<div class="col-xs-3">
				<label for="passwordstr">{{translationObj.details.fieldtitlepassword}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="passwordstr" ng-model="currentUser.passwordstr" maxlength="30" autocomplete="off">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<labelrequired for="email" label="translationObj.details.fieldtitleemail"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="email" ng-model="currentUser.email" maxlength="200"	required autocomplete="off">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="contactfullname">{{translationObj.details.fieldtitlecontactfullname}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="contactfullname" ng-model="currentUser.contactfullname"	maxlength="200" disabled>
				</div>
			</div>
			<div class="col-xs-4" ng-if="currentUser.issystem!=1">
				<label for="active">&nbsp;</label>
				<div class="input-group">
					<select-contact-button contactid="currentUser.contactid" contactfullname="currentUser.contactfullname"></select-contact-button>&nbsp;
					<button type="button" class="btn btn-primary" ng-click="emptycontact()" ng-disabled="currentUser.issystem==1">{{translationObj.details.buttontitleemptycontact}}</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="lastlogindate">{{translationObj.details.fieldtitlelastlogindate}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control" id="lastlogindate" ng-model="currentUser.lastlogindate" disabled>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<div class="input-group">
					<br><label><input type="checkbox" id="passwordexpired" ng-model="currentUser.passwordexpired" ng-true-value="'1'">{{translationObj.details.fieldtitlepasswordexpired}}</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<div class="input-group">
					<br><label><input type="checkbox" id="active" ng-model="currentUser.active"	ng-true-value="'1'">{{translationObj.details.fieldtitleactive}}</label>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<h3>{{translationObj.details.formtitleroles}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" 
			ng-click="editRole({})" ng-disabled="currentUser.issystem==1"></button></h3>
	<hr>
	<div ng-repeat="role in currentUser.roles">
		<div class="row">

			<div class="col-xs-5">
				<label for="roleid{{$index}}" ng-if="$index==0">{{translationObj.details.fieldtitlerole}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<select class="form-control" id="roleid{{$index}}" ng-model="role.roleid" ng-disabled="true">
						<option ng-repeat="roleitem in roles" value="{{roleitem.id}}">{{roleitem.text}}</option>
					</select>
				</div>
			</div>

			<div class="col-xs-2">
				<label for="active" ng-if="$index==0">&nbsp;</label>
				<div class="input-group">
					<span>
						<!-- <child-edit-button obj="role" objlist="currentUser.roles" callback="editRole(role)"	is-form-pristine="currentUser.userid=='fulladmin' && role.roleid=='1'"></child-edit-button> -->
						<child-delete-button obj="role" objlist="currentUser.roles" callback="setDirty()"	is-form-pristine="currentUser.issystem==1"></child-delete-button>
						<child-undelete-button obj="role" objlist="currentUser.roles" callback="setDirty()"	is-form-pristine="currentUser.issystem==1"></child-undelete-button>
						<child-status-indicator obj="role"></child-status-indicator>
					</span>
				</div>
			</div>
		</div>
	</div>



</div>
</div>