<section id="intro" class="intro" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}" initmainsection>
	<row>
		<newleftpane leftpanetemplatefullpath="./userview/user.template.html"></newleftpane>
		<div id="maincolumnright" class="col-xs-7 col-sm-10 maincolumnright">
			<div id="mainrowright" class="row mainrowright">
				<div class="grid">
					<displayerror></displayerror>
					<displaymaintitle maintitle="currentUser.userid + ' - ' + currentUser.fullname" defaulttitle="translationObj.main.formtitledetails" object="currentUser"></displaymaintitle>

					<main-new-button new-callback="createNew()" ng-if="userInfo.privileges.user_create==true"></main-new-button>
					<main-save-button save-callback="saveToDB()" is-form-pristine="isFormPristine && !detailsForm.$dirty" ng-if="userInfo.privileges.user_update==true"></main-save-button>
					<main-delete-button delete-callback="deleteFromDB()" is-form-pristine="currentUser == null || currentUser.issystem==1" ng-if="userInfo.privileges.security_delete==true"></main-delete-button>

					<button class="btn btn-primary" ng-click="resetAccount()" ng-disabled="!currentUser || !isFormPristine || detailsForm.$dirty" ng-if="userInfo.privileges.user_resetpassword==true">{{translationObj.main.buttontitleresetpassword}}</button>

					<form id="mainform" class="form-horizontal well mainsingleformnox" role="form" name="detailsForm" ng-show="currentUser">
						<div ng-include="'userview/user.html'"></div>
					</form>
				</div>
			</div>
		</div>
	</row>
</section>