<div class="form-group">
	<div class="grid">
		<h3>{{translationObj.testsummary.formtitleskills}}</h3>
		<div class="row">

			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-2">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" name="testid" class="form-control" id="testid" ng-model="summary.summaryabilities[0].testlevellabel"disabled>
				</div>
			</div>
		</div>

		<h3>{{translationObj.testsummary.formtitledances}}</h3>
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-2">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" name="testid2" class="form-control" id="testid2" ng-model="summary.summarydances[0].testlevellabel"disabled>
				</div>
			</div>
		</div>

		<h3>{{translationObj.testsummary.formtitlefreestyle}}</h3>
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-2">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid4" class="form-control" id="testid4" ng-model="summary.summaryfreestyles[0].testlevellabel"disabled>
				</div>
			</div>
		</div>

		<h3>{{translationObj.testsummary.formtitleinterpretives}}</h3>
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-2">
				<label for="testid5">{{translationObj.testsummary.fieldsingle}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid5" class="form-control" id="testid5" ng-model="summary.summaryinterpretives['SINGLE'][0].testlevellabel"disabled>
				</div>
			</div>
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-2">
				<label for="testid6">{{translationObj.testsummary.fieldcouple}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid6" class="form-control" id="testid6" ng-model="summary.summaryinterpretives['COUPLE'][0].testlevellabel"disabled>
				</div>
			</div>
		</div>

		<h3>{{translationObj.testsummary.formtitlecompetitives}}</h3>
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-3">
				<label for="testid7">{{translationObj.testsummary.fieldsingle}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid7" class="form-control" id="testid7" ng-model="summary.summarycompetitives['SINGLE'][0].testlevellabel"disabled>
				</div>
			</div>
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-3">
				<label for="testid8">{{translationObj.testsummary.fieldcouple}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid8" class="form-control" id="testid8" ng-model="summary.summarycompetitives['COUPLE'][0].testlevellabel"disabled>
				</div>
			</div>
			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-3">
				<label for="testid9">{{translationObj.testsummary.fielddance}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></span>
					<input type="text" name="testid9" class="form-control" id="testid9" ng-model="summary.summarycompetitives['DANCE'][0].testlevellabel"disabled>
				</div>
			</div>
		</div>

	</div>
</div>
