<nav id="navbar" class="navbar navbar-inverse" ng-show="!applicationName || applicationName != 'EC'">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="#!/welcomeview">JeNiAl</a> -->
			<a class="navbar-brand" href="#!/welcomeview">
			 <img alt="Brand" src="../images/logo_jenial_2.png">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">

				<!-- <li><a href="#!/memberview" ng-show="userInfo.userid!=null" ng-if="userInfo.privileges.member_access==true">{{translationObj.navbar.members}}</a></li> -->

				<!-- Sessions Menu -->
				<li class="dropdown pointerlist" ng-show="userInfo.userid!=null"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.sessionsandcourses}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#!/memberview" 						ng-show="userInfo.userid!=null" ng-if="userInfo.privileges.member_access==true">{{translationObj.navbar.members}}</a></li>
						<li><a href="#!/contactview" 						ng-show="userInfo.userid!=null" ng-if="userInfo.privileges.member_access==true">{{translationObj.navbar.contacts}}</a></li>
						<li><a href="#!/preregistrationview" 		ng-show="userInfo.userid!=null" ng-if="userInfo.privileges.member_access==true">{{translationObj.navbar.preregistrations}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#!/sessionview" 																						ng-if="userInfo.privileges.session_access==true">{{translationObj.navbar.sessionsmanager}}</a></li>
						<li><a href="#!/showview" 																							ng-if="userInfo.privileges.session_access==true">{{translationObj.navbar.showsmanager}}</a></li>
						<li><a href="#!/sessioncoursesview" 																		ng-if="userInfo.privileges.sessioncourse_access==true">{{translationObj.navbar.sessionscoursesmanager}}</a></li>
						<li><a href="#!/registrationview" 																			ng-if="userInfo.privileges.registration_access==true">{{translationObj.navbar.registrations}}</a></li>
						<li><a href="#!/dashboardview"																					ng-if="userInfo.privileges.admin_access==true">{{translationObj.navbar.dashboard}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#!/courseattendanceview"																		ng-if="userInfo.privileges.attendance_access==true">{{translationObj.navbar.courseattendance}}</a></li>
						<li><a href="#!/canskateevaluationview"																	ng-if="userInfo.privileges.evaluation_access==true">{{translationObj.navbar.evaluationpp}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#!/ccwelcomeview" 					ng-show="userInfo.userid!=null">{{translationObj.navbar.customercentre}}</a></li>
					</ul>
				</li>

				<!-- Test Menu -->
				<!-- <li class="dropdown pointerlist" ng-if="userInfo.userid!=null && userInfo.privileges.testsession_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.testmenu}}<span class="caret"></span></a> -->
				<li class="dropdown pointerlist" 								ng-if="userInfo.privileges.testregistration_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.testmenu}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#!/testsessionview" 						ng-if="userInfo.privileges.testsession_access==true">{{translationObj.navbar.testsessionsmanager}}</a></li>
						<li><a href="#!/testregistrationview" 			ng-if="userInfo.privileges.testregistration_access==true">{{translationObj.navbar.testregistrations}}</a></li>
						<li><a href="#!/testperiodview" 						ng-if="userInfo.privileges.testperiod_access==true">{{translationObj.navbar.testperiod}}</a></li>
						<li><a href="#!/testperiodfollowview" 			ng-if="userInfo.privileges.testperiod_access==true">{{translationObj.navbar.testperiodfollow}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#!/teststarsessionview" 				ng-if="userInfo.privileges.testsession_access==true">{{translationObj.navbar.teststarsessionsmanager}}</a></li>
						<li><a href="#!/teststarregistrationview" 	ng-if="userInfo.privileges.testregistration_access==true">{{translationObj.navbar.teststarregistrationsmanager}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#!/testexternalapprobview" 		ng-if="userInfo.privileges.testregistration_access==true">{{translationObj.navbar.testexternalapprobmanager}}</a></li>
					</ul>
				</li>

				<!-- Admin menu -->
				<li class="dropdown pointerlist" ng-if="userInfo.privileges.admin_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.administrationmenu}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#!/codeview">{{translationObj.navbar.codesmanager}}</a></li>
						<li><a href="#!/arenaview">{{translationObj.navbar.arenasmanager}}</a></li>
						<li><a href="#!/clubview">{{translationObj.navbar.clubsmanager}}</a></li>
						<li><a href="#!/courseview">{{translationObj.navbar.coursesmanager}}</a></li>
						<li><a href="#!/chargeview">{{translationObj.navbar.chargesmanager}}</a></li>
						<li><a href="#!/billview">{{translationObj.navbar.billsmanager}}</a></li>
						<li><a href="#!/showtaskview">{{translationObj.navbar.showtaskmanager}}</a></li>
						<li><a href="#!/emailtemplateview">{{translationObj.navbar.emailtemplatemanager}}</a></li>
						<li><a href="#!/sessiontaxreceiptview">{{translationObj.navbar.sessiontaxreceiptmanager}}</a></li>
						<li><a href="#!/configurationview">{{translationObj.navbar.configurationmanager}}</a></li>
						<li role="separator" class="divider"></li>
					<!-- </ul> -->
				<!-- </li> -->

				<!-- Design menu -->
				<!-- <li class="dropdown pointerlist" ng-if="userInfo.privileges.design_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.designmenu}}<span class="caret"></span></a> -->
					<!-- <ul class="dropdown-menu"> -->
						<!-- <li ng-if="userInfo.privileges.design_access==true">Design</li> -->
						<li ng-if="userInfo.privileges.design_access==true"><a href="#!/testdefview">{{translationObj.navbar.testsdefmanager}}</a></li>
						<li ng-if="userInfo.privileges.design_access==true"><a href="#!/testview">{{translationObj.navbar.testsmanager}}</a></li>
						<li ng-if="userInfo.privileges.design_access==true"><a href="#!/testcsview">{{translationObj.navbar.cstestsmanager}}</a></li>
						<li role="separator" class="divider"></li>
					<!-- </ul> -->
				<!-- </li> -->

				<!-- Security Menu -->
				<!-- <li class="dropdown pointerlist"  ng-if="userInfo.privileges.security_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.securitymenu}}<span class="caret"></span></a> -->
					<!-- <ul class="dropdown-menu"> -->
						<li ng-if="userInfo.privileges.security_access==true"><a href="#!/privilegeview">{{translationObj.navbar.privilegesmanager}}</a></li>
						<li ng-if="userInfo.privileges.security_access==true"><a href="#!/roleview">{{translationObj.navbar.rolesmanager}}</a></li>
						<li ng-if="userInfo.privileges.security_access==true"><a href="#!/userview">{{translationObj.navbar.usersmanager}}</a></li>
					</ul>
				</li>

				<!-- Web Admin menu -->
				<li class="dropdown pointerlist" ng-if="userInfo.privileges.admin_access==true"><a class="dropdown-toggle" data-toggle="dropdown" >{{translationObj.navbar.webadministrationmenu}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#!/wscontactview">{{translationObj.navbar.wscontactmanager}}</a></li>
						<li><a href="#!/wsarenaview">{{translationObj.navbar.wsarenasmanager}}</a></li>
						<li><a href="#!/wsnewpageview">{{translationObj.navbar.wspagemanager}}</a></li>
<!--						<li><a href="#!/wssectionview">{{translationObj.navbar.wssectionmanager}}</a></li> -->
						<li><a href="#!/wsboardmemberview">{{translationObj.navbar.wsboardmembermanager}}</a></li>
						<li><a href="#!/wscoachview">{{translationObj.navbar.wscoachmanager}}</a></li>
						<li><a href="#!/wsprogramassistantview">{{translationObj.navbar.wsprogramassistantmanager}}</a></li>
						<li><a href="#!/wsnewsview">{{translationObj.navbar.wsnewsmanager}}</a></li>
						<li><a href="#!/wseventview">{{translationObj.navbar.wseventmanager}}</a></li>
						<li><a href="#!/wspartnerview">{{translationObj.navbar.wspartnermanager}}</a></li>
						<li><a href="#!/wsdocumentview">{{translationObj.navbar.wsdocumentmanager}}</a></li>
						<li><a href="#!/wsboutiqueview">{{translationObj.navbar.wsboutiquemanager}}</a></li>
						<li><a href="#!/wscostumeview">{{translationObj.navbar.wscostumemanager}}</a></li>
						<li><a href="#!/wsclassifiedaddview">{{translationObj.navbar.wsclassifieddaddmanager}}</a></li>
					</ul>
				</li>


				<!-- <li><a href="#!/ccwelcomeview" ng-show="userInfo.userid!=null">{{translationObj.navbar.customercentre}}</a></li> -->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<!-- Welcome User Menu -->
				<!-- <li class="dropdown pointerlist"><a class="dropdown-toggle" data-toggle="dropdown" ng-show="userInfo.userid!=null">{{translationObj.navbar.welcome}}{{userInfo.userfullname}}<span class="caret"></span></a> -->
				<li class="dropdown pointerlist"><a class="dropdown-toggle" data-toggle="dropdown" ng-show="userInfo.userid!=null">{{userInfo.userfullname}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="" logout-button ng-show="userInfo.userid!=null"><span class="glyphicon glyphicon-log-out"></span>{{translationObj.navbar.logout}}</a></li>
						<li><a href="#!/userprofileview"><span class="glyphicon glyphicon-user"></span>{{translationObj.navbar.userprofile}}</a></li>
					</ul>
				</li>
				<li><a href="javascript:" switch-language-button>{{selectedLanguage}}</a></li>
			</ul>
		</div>
	</div>
</nav>

<nav class="navbar navbar-inverse" ng-show="applicationName != null && applicationName == 'EC'">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="#!/welcomeview">JeNiAl</a> -->
			<a class="navbar-brand" href="#!/ccwelcomeview">
			 <img alt="Brand" src="../images/logo_jenial_2.png">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<!-- Welcome User Menu -->
				<li><a href="" logout-button ng-show="userInfo.userid!=null"><span class="glyphicon glyphicon-log-out"></span>{{translationObj.navbar.logout}}</a></li>
				<li><a href="javascript:" switch-language-button>{{selectedLanguage}}</a></li>
			</ul>
		</div>
	</div>
</nav>
