<div class="form-group row">
	<div class="grid">
    <h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
      <div class="col-xs-7">
	      <label for="name">{{translationObj.details.fieldtitlename}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentArena.name" maxlength="40" required>
					<span ng-show="detailsForm.name.$touched && detailsForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
    </div>
		<div class="row">
      <div class="col-xs-12">
	      <label for="name">{{translationObj.details.fieldtitleenglishlabel}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_en" class="form-control" id="label_en" ng-model="currentArena.label_en" maxlength="200" required>
					<span ng-show="detailsForm.label_en.$touched && detailsForm.label_en.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
  	</div>
		<div class="row">
      <div class="col-xs-12">
	      <label for="name">{{translationObj.details.fieldtitlefrenchlabel}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_fr" class="form-control" id="label_fr" ng-model="currentArena.label_fr" maxlength="200" required>
					<span ng-show="detailsForm.label_fr.$touched && detailsForm.label_fr.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
    </div>
		<div class="row">
      <div class="col-xs-12">
	      <label for="name">{{translationObj.details.fieldtitleaddress}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="address" class="form-control" id="address" ng-model="currentArena.address" maxlength="240" required>
					<span ng-show="detailsForm.address.$touched && detailsForm.address.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>
    </div>
		<div class="row">
      <div class="col-xs-2">
	      <label for="active">{{translationObj.details.fieldtitleactive}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="active" ng-model="currentArena.active" required>
			    	<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
			    </select>
	      </div>
	    </div>
  	</div>
  	
  	<h3>{{translationObj.details.buttontitleice}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editIce({})"></button></h3>
		<br>

		<div ng-repeat="ice in currentArena.ices" ng-if="currentArena.ices.length!=0" class="blackcurvyborder">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-success" style="margin-bottom:0px">
		        <div class="panel-heading">
							<a data-target="#ice{{$index}}" data-toggle="collapse" class="pointerlist">
								<strong><big>{{ice.code}}&nbsp;-&nbsp;{{ice.icelabel}}</big></strong>
							</a>
							<span style="float:right">
								<child-edit-button 			obj="ice" objlist="currentArena.ices" callback="editIce(ice)"></child-edit-button>
								<child-delete-button 		obj="ice" objlist="currentArena.ices" callback="setDirty()"></child-delete-button>
								<child-undelete-button 	obj="ice" objlist="currentArena.ices" callback="setDirty()"></child-undelete-button>
								<child-status-indicator obj="ice"></child-status-indicator>
							</span>
							<br>
							<small><b>{{translationObj.details.fieldtitlecode}}</b>:&nbsp;{{ice.code}}&nbsp;
											<b>{{translationObj.details.fieldtitlefrenchlabel}}</b>:&nbsp;{{ice.label_fr}}&nbsp;
											<b>{{translationObj.details.fieldtitleenglishlabel}}</b>:&nbsp;{{ice.label_en}}
							</small>
	          </div>
						<div id="ice{{$index}}" class="panel-collapse collapse">
		          <div class="panel-body">

								<div id="icetab{{$index}}" class="maintab">
									<ul id="icetabheader{{$index}}" class="nav nav-tabs">
										<li class="active pointerlist"><a data-toggle="tab" data-target="#subdetails{{$index}}">{{translationObj.details.panetitlerooms}}</a></li>
									</ul>

									<div id="icetabcontent{{$index}}" class="tab-content maintabcontent">
										<div id="subdetails{{$index}}" class="tab-pane fade in active maintabpane">
											</form><!-- Don't know why, but it fixes a bug...do not remove !-->
								      <form class="form-horizontal well intabsingleformnox" role="form" name="detailsForm">

										    <h3>{{translationObj.details.buttontitleroom}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editRoom(ice, {})"></button></h3>
												<div ng-repeat="room in ice.rooms">
										    	<div class="row">

												    <div class="col-xs-3">
												      <label for="label_en">{{translationObj.details.fieldtitleenglishlabel}}</label>
												    	<div class="input-group">
															  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												        <input type="text" class="form-control" id="label_en" ng-model="room.label_en" maxlength="30" disabled>
												      </div>
												    </div>

												    <div class="col-xs-3">
												      <label for="label_fr">{{translationObj.details.fieldtitlefrenchlabel}}</label>
												    	<div class="input-group">
															  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												        <input type="text" class="form-control" id="label_fr" ng-model="room.label_fr" maxlength="30" disabled>
												      </div>
												    </div>

												    <div class="col-xs-4">
													      <label for="code">{{translationObj.details.fieldtitlecomment}}</label>
												    	<div class="input-group">
															  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																<input type="text" name="code" class="form-control" id="code" ng-model="room.comments" maxlength="200" disabled>
												      </div>
												    </div>

										      	<div class="col-xs-2">
													    <label>&nbsp;</label>
											      	<div class="input-group">
										    				<span>
																	<child-edit-button 			obj="room" objlist="ice.rooms" callback="editRoom(ice, room)"></child-edit-button>
																	<child-delete-button 		obj="room" objlist="ice.rooms" callback="setDirty()"></child-delete-button>
																	<child-undelete-button 	obj="room" objlist="ice.rooms" callback="setDirty()"></child-undelete-button>
																	<child-status-indicator obj="room"></child-status-indicator>
																</span>
														  </div>
													  </div>
												  </div>
											 	</div>

										  </form>
								    </div>

							    </div>
							  </div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="currentArena.ices.length==0">
	    <h3>{{translationObj.details.buttontitleroom}}&nbsp;<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="editRoom(currentArena, {})"></button></h3>
			<div ng-repeat="room in currentArena.rooms">
	    	<div class="row">

			    <div class="col-xs-3">
			      <label for="label_en">{{translationObj.details.fieldtitleenglishlabel}}</label>
			    	<div class="input-group">
						  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			        <input type="text" class="form-control" id="label_en" ng-model="room.label_en" maxlength="30" disabled>
			      </div>
			    </div>

			    <div class="col-xs-3">
			      <label for="label_fr">{{translationObj.details.fieldtitlefrenchlabel}}</label>
			    	<div class="input-group">
						  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			        <input type="text" class="form-control" id="label_fr" ng-model="room.label_fr" maxlength="30" disabled>
			      </div>
			    </div>

			    <div class="col-xs-4">
				      <label for="code">{{translationObj.details.fieldtitlecomment}}</label>
			    	<div class="input-group">
						  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="code" class="form-control" id="code" ng-model="room.comments" maxlength="200" disabled>
			      </div>
			    </div>

	      	<div class="col-xs-2">
				    <label>&nbsp;</label>
		      	<div class="input-group">
	    				<span>
								<child-edit-button 			obj="room" objlist="ice.rooms" callback="editRoom(currentArena, room)"></child-edit-button>
								<child-delete-button 		obj="room" objlist="ice.rooms" callback="setDirty()"></child-delete-button>
								<child-undelete-button 	obj="room" objlist="ice.rooms" callback="setDirty()"></child-undelete-button>
								<child-status-indicator obj="room"></child-status-indicator>
							</span>
					  </div>
				  </div>
			  </div>
		 	</div>
		</div>
  	
  </div>
</div>
