<div class="modal-header">
	<h4 class="modal-title">{{translationObj.viewtransaction.formtitlenewtransaction}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="editObjForm">
		<div class="form-group">
			<div class="col-xs-5">
				<label for="transactiontype">{{translationObj.viewtransaction.fieldtransactiontype}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="transactiontype" ng-model="newObj.transactiontype" disabled required>
						<option ng-repeat="transactiontype in transactiontypes" value="{{transactiontype.code}}">{{transactiontype.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="transactiondate">{{translationObj.viewtransaction.fieldtransactiondate}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="transactiondate" class="form-control" id="transactiondate"
						ng-model="newObj.transactiondate" disabled>
				</div>
			</div>
			<div class="col-xs-5">
				<label for="transactionamount">{{translationObj.viewtransaction.fieldtransactionamount}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
					<input type="text" name="transactionamount" class="form-control" id="transactionamount"
						ng-model="newObj.transactionamount" ng-currency disabled>
				</div>
			</div>
			<div class="col-xs-5" ng-hide="newObj.transactiontype!='PAYMENT'">
				<label for="paymentmethod">{{translationObj.viewtransaction.fieldpaymentmethod}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="paymentmethod" ng-model="newObj.paymentmethod" disabled>
						<option ng-repeat="paymentmethod in paymentmethods" value="{{paymentmethod.code}}">{{paymentmethod.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5" ng-hide="newObj.transactiontype!='REPAYMENT'">
				<label for="paymentmethod">{{translationObj.viewtransaction.fieldrepaymentmethod}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="paymentmethod2" ng-model="newObj.paymentmethod" disabled>
						<option ng-repeat="repaymentmethod in repaymentmethods" value="{{repaymentmethod.code}}">{{repaymentmethod.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-10">
				<label for="receivedby"
					ng-hide="newObj.transactiontype!='PAYMENT'">{{translationObj.viewtransaction.fieldreceivedby}}</label>
				<label for="receivedby"
					ng-hide="newObj.transactiontype!='REPAYMENT'">{{translationObj.viewtransaction.fieldemitedby}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="receivedby" class="form-control" id="receivedby"
						ng-model="newObj.receivedby" disabled>
				</div>
			</div>
			<div class="col-xs-5" ng-hide="newObj.transactiontype!='REPAYMENT'">
				<label for="checkno">{{translationObj.viewtransaction.fieldcheckno}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<input type="number" name="checkno" class="form-control" id="checkno" ng-model="newObj.checkno"
						ng-required="newObj.transactiontype=='REPAYMENT'" disabled>
				</div>
			</div>
			<div class="col-xs-10" ng-hide="newObj.transactiontype!='PAYMENT'">
				<label for="paperreceiptno">{{translationObj.viewtransaction.fieldpaperreceiptno}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					<input type="number" name="paperreceiptno" class="form-control" id="paperreceiptno"
						ng-model="newObj.paperreceiptno" disabled>
				</div>
			</div>
			<div class="col-xs-10" ng-hide="newObj.transactiontype!='PAYMENT'">
				<label for="receiptno">{{translationObj.viewtransaction.fieldreceiptno}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					<input type="number" name="receiptno" class="form-control" id="receiptno"
						ng-model="newObj.receiptno" disabled>
				</div>
			</div>
			<div class="col-xs-10" ng-hide="newObj.transactiontype!='PAYMENT'">
				<label for="paypaltransactionid">{{translationObj.viewtransaction.fieldpaypaltransactionid}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					<input type="text" name="paypaltransactionid" class="form-control" id="paypaltransactionid"
						ng-model="newObj.paypaltransactionid" disabled>
				</div>
			</div>
			<div class="col-xs-10" ng-if="newObj.iscanceled!=0">
				<label for="cancelreason">{{translationObj.canceltransaction.fieldcancelreason}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="cancelreason" ng-model="newObj.cancelreason" disabled>
						<option ng-repeat="transactioncancel in transactioncancels" value="{{transactioncancel.code}}">{{transactioncancel.text}}</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5" ng-if="newObj.iscanceled!=0">
				<label for="canceledby">{{translationObj.canceltransaction.fieldcanceledby}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="canceledby" class="form-control" id="canceledby"
						ng-model="newObj.canceledby" disabled>
				</div>
			</div>
			<div class="col-xs-5" ng-if="newObj.iscanceled!=0">
				<label for="canceleddate">{{translationObj.canceltransaction.fieldcanceleddate}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="canceleddate" class="form-control" id="canceleddate"
						ng-model="newObj.canceleddate" disabled>
				</div>
			</div>
			<div class="col-xs-10">
				<label for="comments">{{translationObj.viewtransaction.fieldcomments}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<textarea name="comments" class="form-control" id="comments" ng-model="newObj.comments" disabled></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary"
		ng-click="cancel()">{{translationObj.viewtransaction.buttontitlediscard}}</button>
</div>