<form class="form-horizontal" role="form" name="detailsForm">
	<div class="content">
		<div class="col-xs-12 col-sm-12" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<br>
					<h1>{{translationObj.main.formtitlecustomercentre}}</h1>
					<h3>{{translationObj.main.formtitlewelcome}} {{userInfo.userfullname}}</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content well">
						<div class="row">
							<div class="col-md-10">
								<div class="content">
									<div class="row">
										<a href="#!/ccwelcomeview">{{translationObj.main.formtitlebacktowelcome}}</a>
										<h3>{{translationObj.main.formtitleyourskater}} - {{currentSkater.firstname}} {{currentSkater.lastname}}</h3>
										<div class="row">
											<div class="col-xs-12">
												<div class="alert alert-danger" id="globalErrorMessage" style="display:none;">
													<li ng-repeat="error in globalErrorMessage">{{error}}</li>
												</div>
												<div class="alert alert-success" id="globalSuccessMessage" style="display:none;">
													<li ng-repeat="error in globalSuccessMessage">{{error}}</li>
												</div>
											</div>
										</div>
										<ul class="nav nav-tabs">
											<li class="active pointerlist"><a data-toggle="tab" data-target="#info">{{translationObj.main.panetitledetails}}</a></li>
											<li class="pointerlist"><a data-toggle="tab" data-target="#test">{{translationObj.main.panetitleteststar}}</a></li>
											<li class="pointerlist"><a data-toggle="tab" data-target="#newtest">{{translationObj.main.panetitlenewteststar}}</a></li>
											<li class="pointerlist"><a data-toggle="tab" data-target="#canskate">{{translationObj.main.panetitlecanskate}}</a></li>
											<li class="pointerlist"><a data-toggle="tab" data-target="#courses">{{translationObj.main.panetitlecourses}}</a></li>
											<li class="pointerlist"><a data-toggle="tab" data-target="#numbers">{{translationObj.main.panetitlenumbers}}</a></li>
										</ul>

										<div class="tab-content">
											<div id="info" class="tab-pane fade in active">
												<form class="form-horizontal well" role="form" name="detailsForm">
													<div ng-include="'./ccskaterview/details.form.html'"></div>
													<div ng-include="'./ccskaterview/address.form.html'"></div>
													<div class="row">
													  <div class="col-xs-12">
													    <center>
													      <br>
													      <button type="button" class="btn btn-primary" ng-click="saveSkaterDetails()">{{translationObj.main.buttontitlesave}}</button>
													    </center>
													  </div>
													</div>
												</form>
											</div>
											<div id="test" class="tab-pane fade">
												<form class="form-horizontal well" role="form" name="teststarForm">
													<div ng-include="'./ccskaterview/testdance.form.html'"></div>
													<div ng-include="'./ccskaterview/testfreestyle.form.html'"></div>
													<div ng-include="'./ccskaterview/testskills.form.html'"></div>
												</form>
											</div>
											<div id="newtest" class="tab-pane fade">
												<form class="form-horizontal well" role="form" name="newteststarForm">
													<div ng-include="'./ccskaterview/newtestdance.form.html'"></div>
													<div ng-include="'./ccskaterview/newtestfreestyle.form.html'"></div>
													<div ng-include="'./ccskaterview/newtestskills.form.html'"></div>
													<div ng-include="'./ccskaterview/newtestartistics.form.html'"></div>
													<div ng-include="'./ccskaterview/newtestsynchros.form.html'"></div>
												</form>
											</div>
											<div id="canskate" class="tab-pane fade">
												<form class="form-horizontal well" role="form" name="canskateForm">
													<div class="row">
														<div class="col-xs-12">
															<center>
																<br>
																<button type="button" class="btn btn-primary" ng-click="showCSReportCard()">{{translationObj.canskate.buttontitleshowcsreport}}</button>
															</center>
												    </div>
											    </div>
													<!-- <div ng-include="'./ccskaterview/canskate.form.html'"></div> -->
												</form>
											</div>
											<div id="courses" class="tab-pane fade">
												<form class="form-horizontal well" role="form" name="coursesForm">
													<div ng-include="'./ccskaterview/courses.form.html'"></div>
												</form>
											</div>
											<div id="numbers" class="tab-pane fade">
												<form class="form-horizontal well" role="form" name="numbersForm">
													<div ng-include="'./ccskaterview/numbers.form.html'"></div>
												</form>
											</div>
										</div>

										<!-- <div class="row">
											<div class="col-xs-12">
												<center>
													<br>
													<button type="button" class="btn btn-primary" ng-click="saveSkaterDetails()">{{translationObj.main.buttontitlesave}}</button>
												</center>
									    </div>
								    </div> -->

									</div>
								</div>
							</div>
							<div class="col-md-2">
								<img style="display:block;margin:auto;" src="/privateimages/cpa_logo.jpg" alt="logo">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- <footer id="myFooter">
		<div class="container">
				<div class="row">
						<div class="col-sm-3">
								<h2 class="logo"><a href="#"> LOGO </a></h2>
						</div>
						<div class="col-sm-2">
								<h5>Get started</h5>
								<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Sign up</a></li>
										<li><a href="#">Downloads</a></li>
								</ul>
						</div>
						<div class="col-sm-2">
								<h5>About us</h5>
								<ul>
										<li><a href="#">Company Information</a></li>
										<li><a href="#">Contact us</a></li>
										<li><a href="#">Reviews</a></li>
								</ul>
						</div>
						<div class="col-sm-2">
								<h5>Support</h5>
								<ul>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Help desk</a></li>
										<li><a href="#">Forums</a></li>
								</ul>
						</div>
						<div class="col-sm-3">
								<div class="social-networks">
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
								</div>
								<button type="button" class="btn btn-default">Contact us</button>
						</div>
				</div>
		</div>
		<div class="footer-copyright">
				<p>© 2016 Copyright Text </p>
		</div>
</footer> -->
