<div class="form-group row">
	<div class="grid">
			<div id="childform1">
				<!-- <h3>{{translationObj.period.titleperiods}}</h3> -->
				<span>
					<label ng-repeat="approb in approbationstatus">
						<input type="radio" name='statusFilter' ng-model="$parent.approbationStatusFilter" ng-value="{{approb.code}}" ng-change="onApprobationStatusFilterChange(approb.code)">&nbsp;&nbsp;{{approb.text}}&nbsp;&nbsp;
					</label>
				</span>
				<span>
					<label>
						<input type="radio" name="statusFilter" ng-model="$parent.approbationStatusFilter" ng-value="-1" ng-change="onApprobationStatusFilterChange(-1)"> {{translationObj.period.fieldfilterall}}
					</label>
				</span>
				<div ng-repeat="period in currentTestregistration.periods | filter:filterPeriods" class="blackcurvyborder">
					<div class="row">
						<div class="col-xs-2">
							<label for="perioddate">{{translationObj.period.fieldperioddate}}</label>
							<input type="text" class="form-control" id="perioddate" ng-model="period.perioddate" disabled>
						</div>
						<div class="col-xs-2">
							<label for="day">{{translationObj.period.fieldday}}</label>
							<select class="form-control" id="day" ng-model="period.day" disabled>
								<option ng-repeat="day1 in days" value="{{day1.code}}">{{day1.text}}</option>
							</select>
						</div>
						<div class="col-xs-2">
				      <label for="arena">{{translationObj.period.fieldarena}}</label>
		      		<select class="form-control" id="arena" ng-model="period.arenaid" disabled>
								<option ng-repeat="arena in arenas" value="{{arena.id}}">{{arena.label}}</option>
		      		</select>
			      </div>
						<div class="col-xs-2">
							<label for="ice">{{translationObj.period.fieldice}}</label>
							<input type="text" class="form-control" id="ice" ng-model="period.icelabel" disabled>
						</div>
						<div class="col-xs-2">
							<label for="starttime">{{translationObj.period.fieldstarttime}}</label>
							<input type="text" class="form-control" id="starttime" ng-model="period.starttime" disabled>
						</div>
						<div class="col-xs-2">
							<label for="endtime">{{translationObj.period.fieldendtime}}</label>
							<input type="text" class="form-control" id="endtime" ng-model="period.endtime" disabled>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" ng-show="period.canedit != true">
							<h4 ng-show="period.canedit != true" ><font color="red"><i>{{translationObj.period.formtitleregistrationdelayexpired}}</i></font></h4>
						</div>
						<div class="col-xs-2">
							<h3>{{translationObj.period.titleregistrations}}&nbsp;<edittestregistration type="2" testregistration="{}" period="period" callback="saveToDB()" ng-if="period.canedit == true"></edittestregistration></h3>
							<!-- <button class="btn btn-primary" ng-click="editRegistration(period, {})" ng-if="userInfo.privileges.testregistration_create==true">{{translationObj.period.buttontitleaddregistration}}</button> -->
						</div>
					</div>
					<form>
						<div>
						<!-- <div id="childform1"> -->
							<!-- <div ng-repeat="registration in period.registrations" class="blackcurvyborder"> -->
							<div ng-repeat="registration in period.registrations | filter:filterRegistrations">
							<!-- <div ng-repeat="registration in period.registrations | filter:filterRegistrations" class="blackcurvyborder"> -->
								<div class="row">

									<div class="col-xs-11 col-md-3 col-lg-2">
										<b ng-show="$index==0" class="visible-md visible-lg">{{translationObj.period.fieldmember}}<br></b>
										<b class="hidden-md hidden-lg">{{translationObj.period.fieldregistration}}<br></b>
										<span class="glyphicon glyphicon-question-sign" style="color:blue;font-size:150%"		ng-show="registration.approbationstatus && registration.approbationstatus == 2"></span>
										<span class="glyphicon glyphicon-ok-sign" 			style="color:green;font-size:150%" 	ng-show="registration.approbationstatus && registration.approbationstatus == 1"></span>
										<span class="glyphicon glyphicon-remove-sign" 	style="color:red;font-size:150%" 		ng-show="registration.approbationstatus && registration.approbationstatus == 0"></span>
										<span style="vertical-align:top">{{registration.skaterfirstname}} {{registration.skaterlastname}}</span>
									</div>
									<div class="clearfix visible-xs"></div>

									<div class="col-xs-12 col-md-2 col-lg-2">
										<b ng-show="$index==0" class="visible-md visible-lg">{{translationObj.period.fieldcoach}}<br></b>
										<b class="hidden-md hidden-lg">{{translationObj.period.fieldcoach}}<br></b>
										{{registration.coachfirstname}} {{registration.coachlastname}}
									</div>

									<div class="col-xs-12 col-md-2 col-lg-2">
										<b ng-show="$index==0" class="visible-md visible-lg">{{translationObj.period.fieldtesttype}}<br></b>
										<b class="hidden-md hidden-lg">{{translationObj.period.fieldtesttype}}<br></b>
										{{registration.testtypelabel}}
									</div>

									<div class="col-xs-12 col-md-4 col-lg-2">
										<b ng-show="$index==0" class="visible-md visible-lg">{{translationObj.period.fieldtestname}}<br></b>
										<b class="hidden-md hidden-lg">{{translationObj.period.fieldtestname}}<br></b>
										{{registration.testlabel}}
									</div>

									<!-- Filler just so the edit/delete/move buttons are aligned -->
									<!-- <div class="col-md-7" ng-show="registration.testtype != 'DANCE'"> -->
									<div class="col-lg-3">
									</div>

									<div class="clearfix visible-xs"></div>
									<div class="col-xs-12 col-md-1 col-lg-1">
										<b ng-show="$index==0" class="visible-md visible-lg">&nbsp;<br></b>
										<div class="input-group">
											<span>
												<edittestregistration type="1" testregistration="registration" period="period" callback="saveToDB()"></edittestregistration>
												<!-- <child-edit-button obj="registration" objlist="period.registrations" callback="saveToDB()"></child-edit-button> -->
												<!-- <span class="glyphicon glyphicon-question-sign" style="color:blue;font-size:150%"		ng-show="registration.approbationstatus && registration.approbationstatus == 2"></span>
												<span class="glyphicon glyphicon-ok-sign" 			style="color:green;font-size:150%" 	ng-show="registration.approbationstatus && registration.approbationstatus == 1"></span>
												<span class="glyphicon glyphicon-remove-sign" 	style="color:red;font-size:150%" 		ng-show="registration.approbationstatus && registration.approbationstatus == 0"></span> -->
											</span>
										</div>
									</div>
								</div>
							<hr>
							</div>
						</div>
					</form>

				</div>
			</div>

  </div>
</div>
