<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
			<div class="col-xs-4">
				<label for="name">{{translationObj.details.fieldtitlename}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentWspartner.name"
						maxlength="40" required autocomplete="off">
				</div>
			</div>
			<div class="col-xs-2">
				<label for="partnerindex">{{translationObj.details.fieldtitlepartnerindex}}<i style="color:red">
						*</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="number" name="partnerindex" class="form-control" id="partnerindex"
						ng-model="currentWspartner.partnerindex" min="1" max="99" required>
				</div>
			</div>
			<div class="col-xs-2">
				<label for="publish">{{translationObj.details.fieldtitlepublish}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWspartner.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<label for="link_en">{{translationObj.details.fieldtitlelink_en}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="link_en" class="form-control" id="link_en"
						ng-model="currentWspartner.link_en" maxlength="2000" ng-required="config.supportenglish==1">
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<label for="link_fr">{{translationObj.details.fieldtitlelink_fr}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="link_fr" class="form-control" id="link_fr"
						ng-model="currentWspartner.link_fr" maxlength="2000" ng-required="config.supportfrench==1">
				</div>
			</div>
		</div>

		<div ng-if="config.supportenglish==1">
			<displaywebsiteimage 
				displayimagefilename="'partners/'+currentWspartner.displayimagefilename_en"
				imageinfo="currentWspartner.imageinfo_en">
			</displaywebsiteimage>

			<div class="row">
				<div class="col-xs-12">
					<uploadwebsiteimagebutton 
						subdirectory="'/website/images/partners/'"
						fileprefix="currentWspartner.name + '_en-ca'"
						tablename="'cpa_ws_text'" 
						id="currentWspartner.imagefilename"
						language="'en-ca'"
						oldfilename="currentWspartner.imagefilename_en" 
						callback="setCurrentInternal(currentWspartner)"
						is-disabled="!isFormPristine || detailsForm.$dirty">
					</uploadwebsiteimagebutton>
				</div>
			</div>
		</div>

		<div ng-if="config.supportfrench==1">
			<displaywebsiteimage 
				displayimagefilename="'partners/'+currentWspartner.displayimagefilename_fr"
				imageinfo="currentWspartner.imageinfo_fr">
			</displaywebsiteimage>

			<div class="row">
				<div class="col-xs-12">
					<uploadwebsiteimagebutton 
						subdirectory="'/website/images/partners/'"
						fileprefix="currentWspartner.name + '_fr-ca'"
						tablename="'cpa_ws_text'" 
						id="currentWspartner.imagefilename"
						language="'fr-ca'"
						oldfilename="currentWspartner.imagefilename_fr" 
						callback="setCurrentInternal(currentWspartner)"
						is-disabled="!isFormPristine || detailsForm.$dirty">
					</uploadwebsiteimagebutton>
				</div>
			</div>
		</div>

	</div>
</div>