<div>
    <p>
        <span ng-if="leftobj.publish==1">
            {{leftobj.id}} - {{leftobj.label}}&nbsp;({{leftobj.eventdate}})<br>
        </span>
        <span style="color:red" ng-if="leftobj.publish==0">
            {{leftobj.id}} - {{leftobj.label}}&nbsp;({{leftobj.eventdate}})<br>
        </span>
        <small>
            <b>{{translationObj.leftPane.publish}}</b>&nbsp;{{leftobj.ispublish}}&nbsp;
            <b>{{translationObj.leftPane.imagecount}}</b>&nbsp;{{leftobj.imagecount}}
            <b>{{translationObj.leftPane.listlabel}}</b>&nbsp;{{leftobj.listlabel}}
        </small>
    </p>
</div>
