<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>

		<div class="row">
			<div class="col-xs-3">
				<labelrequired for="name" label="translationObj.details.fieldtitlename"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentWsevent.name"
						maxlength="40" required autocomplete="off">
				</div>
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<labelrequired for="eventlist" label=translationObj.details.fieldtitleeventlist></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="eventlist" ng-model="currentWsevent.eventlist" required>
						<option ng-repeat="wseventtype in wseventtypes" value="{{wseventtype.code}}">
							{{wseventtype.text}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<labelrequired for="label_en" label="translationObj.details.fieldtitlelabelen"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_en" class="form-control" id="label_en"
						ng-model="currentWsevent.label_en" maxlength="200" ng-required="config.supportenglish==1">
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<labelrequired for="label_fr" label="translationObj.details.fieldtitlelabelfr"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_fr" class="form-control" id="label_fr"
						ng-model="currentWsevent.label_fr" maxlength="200"  ng-required="config.supportfrench==1">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
				<labelrequired for="eventdate" label="translationObj.details.fieldtitleeventdate"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="date" name="eventdate" class="form-control" id="eventdate"
						ng-model="currentWsevent.eventdate" required>
				</div>
			</div>
			<div class="col-xs-2 col-xs-offset-2">
				<labelrequired for="publish" label="translationObj.details.fieldtitlepublish"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWsevent.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>

		<displaywebsiteimage 
			displayimagefilename="'gallery/eventid'+currentWsevent.id+'/'+currentWsevent.displayimagefilename"
			imageinfo="currentWsevent.imageinfo">
		</displaywebsiteimage>
		<div class="row">
			<div class="col-xs-12">
				<uploadwebsiteimagebutton 
					subdirectory="'/website/images/gallery/eventid'+currentWsevent.id+'/'"
					fileprefix="currentWsevent.id"
					tablename="'cpa_ws_events'" 
					id="currentWsevent.id"
					oldfilename="currentWsevent.imagefilename" 
					callback="setCurrentInternal(currentWsevent)"
					is-disabled="!isFormPristine || detailsForm.$dirty">
				</uploadwebsiteimagebutton>&nbsp;
			</div>
		</div>
	</div>
</div>