<div>
    <p>
        <span ng-if="leftobj.publish==1">
            {{leftobj.documentname}}<br>
        </span>
        <span style="color:red" ng-if="leftobj.publish==0">
            {{leftobj.documentname}}<br>
        </span>
        <small>
            <b>{{translationObj.leftPane.publish}}</b>&nbsp;{{leftobj.ispublish}}&nbsp;
            <b>{{translationObj.leftPane.imagefr}}</b>&nbsp;{{leftobj.isimagefr}}
            <b>{{translationObj.leftPane.imageen}}</b>&nbsp;{{leftobj.isimageen}}
        </small>
    </p>
</div>
