<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
			<div class="col-xs-4">
				<labelrequired for="name" label="translationObj.details.fieldtitlename"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="name" class="form-control" id="name" ng-model="currentWsgood.name"
						maxlength="40" required autocomplete="off">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<labelrequired for="label_en" label="translationObj.details.fieldtitleenglishlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_en" class="form-control" id="label_en"
						ng-model="currentWsgood.label_en" maxlength="2000" ng-required="config.supportenglish==1">
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<labelrequired for="label_fr" label="translationObj.details.fieldtitlefrenchlabel"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="label_fr" class="form-control" id="label_fr"
						ng-model="currentWsgood.label_fr" maxlength="2000" ng-required="config.supportfrench==1">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<labelrequired for="quantity" label="translationObj.details.fieldtitlequantity"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="number" name="quantity" class="form-control" id="quantity"
						ng-model="currentWsgood.quantity" min="0" required>
				</div>
			</div>
			<div class="col-xs-4">
				<labelrequired for="priceperunit" label="translationObj.details.fieldtitlepriceperunit"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
					<input type="text" name="priceperunit" class="form-control" id="priceperunit"
						ng-model="currentWsgood.priceperunit" ng-currency required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-if="config.supportenglish==1">
				<label for="description_en">{{translationObj.details.fieldtitleenglishdescription}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="description_en" class="form-control" id="description_en"
						ng-model="currentWsgood.description_en" maxlength="2000"></textarea>
				</div>
			</div>
			<div class="col-xs-4" ng-if="config.supportfrench==1">
				<label for="description_fr">{{translationObj.details.fieldtitlefrenchdescription}}</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<textarea name="description_fr" class="form-control" id="description_fr"
						ng-model="currentWsgood.description_fr" maxlength="2000"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<labelrequired for="publish" label="translationObj.details.fieldtitlepublish"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWsgood.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>

		<displaywebsiteimage 
			displayimagefilename="'goods/goodid'+currentWsgood.id+'/'+currentWsgood.displayimagefilename"
			imageinfo="currentWsgood.imageinfo">
		</displaywebsiteimage>
		<div class="row">
			<div class="col-xs-12">
				<uploadwebsiteimagebutton 
					subdirectory="'/website/images/goods/goodid'+currentWsgood.id+'/'"
					fileprefix="currentWsgood.name"
					tablename="'cpa_ws_goods'" 
					id="currentWsgood.id"
					oldfilename="currentWsgood.imagefilename" 
					callback="setCurrentInternal(currentWsgood)"
					is-disabled="!isFormPristine || detailsForm.$dirty">
				</uploadwebsiteimagebutton>&nbsp;
				<deletewebsiteimagebutton 
					subdir="'goods'" dirsuffix="'good'" context="'ws_goods'" obj="currentWsgood"
					callback="setCurrentInternal(currentWsgood)" is-disabled="!currentWsgood.imagefilename">
				</deletewebsiteimagebutton>
			</div>
		</div>
	</div>
</div>