<!DOCTYPE html>
<html class="no-js" ng-app="cpa_ws_admin" ng-controller="websiteCtrl" ng-init="init('costumedetails', 'fr-ca')">
<head>
  <script>
    var shiftWindow = function() { scrollBy(0, -110) };
    window.addEventListener("hashchange", shiftWindow);
    function load() {
      if (window.location.hash) {
        shiftWindow();
      }
    }
  </script>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../../../images/logo_jenial.png" type="image/x-icon">
  <title ng-bind="currentpage.globalsections.footer.label"></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Template CSS Files
  ================================================== -->
  <!-- Twitter Bootstrs CSS -->
  <link rel="stylesheet" href="../../../plugins/bootstrap/bootstrap.min.css">
  <!-- Ionicons Fonts Css -->
  <link rel="stylesheet" href="../../../plugins/ionicons/ionicons.min.css">
  <!-- animate css -->
  <link rel="stylesheet" href="../../../plugins/animate-css/animate.css">
  <!-- Hero area slider css-->
  <link rel="stylesheet" href="../../../plugins/slider/slider.css">
  <!-- owl craousel css -->
  <link rel="stylesheet" href="../../../plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../../plugins/owl-carousel/owl.theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="../../../plugins/facncybox/jquery.fancybox.css">
  <!-- angular Busy -->
  <link rel="stylesheet" href="../../../plugins/angularBusy/angular-busy.css">
  <!-- Alertify -->
  <link rel="stylesheet" href="../../../../dist/alertify.core.css" />
	<link rel="stylesheet" href="../../../../dist/alertify.default.css" />
  <!-- template main css file -->
  <link rel="stylesheet" href="../../../css/style.css">
</head>
<body onload="load()">

<!--
==================================================
Main menu Section Start
================================================== -->
<ng-include src="'../../../templates/mainmenu.template.html'"></ng-include>

<!--
==================================================
Main header Section Start
================================================== -->
<ng-include src="'../../../templates/mainheader.template.html'"></ng-include>

<!--
==================================================
Costumes details Section Start
================================================== -->
<section id="team" ng-if="currentpage.globalsections.costumedetails">
  {{currentsection=currentpage.globalsections.costumedetails;""}}
  <div class="container">
    <div class="row">
      <span style="float:right"><a href="boutique.html#costumeslist">Retour à la liste</a></span>
      <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" id="costumedetails">{{currentpage.globalsections.costumedetails.onecostume.label}}</h3>
      <h3 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">{{currentpage.globalsections.costumedetails.onecostume.totalamount != -1 ? 'Quantité totale : ' + currentpage.globalsections.costumedetails.onecostume.totalamount : 'Quantité inconnue'}}<br>{{currentpage.globalsections.costumedetails.onecostume.priceperunit != -1 ? currentpage.globalsections.costumedetails.onecostume.totalamount + ' $/ch' : 'Prix à déterminer'}}</h3>

      <ng-include src="'../../../templates/toplinks.template.html'"></ng-include>
      <ng-include src="'../../../templates/paragraph.template.html'"></ng-include>
      <ng-include src="'../../../templates/bottomlinks.template.html'"></ng-include>

        <figure  style="max-height:750px;max-width:750px;" class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="img-wrapper">
            <img ng-src="/websiteimages/costumes/costumeid{{currentpage.globalsections.costumedetails.onecostume.id}}/{{currentpage.globalsections.costumedetails.onecostume.imagefilename}}" class="img-responsive" alt="" style="max-height:750px;max-width:750px;">
            <div class="overlay">
              <div class="buttons">
                <a data-fancybox="{{currentpage.globalsections.costumedetails.onecostume.name}}" ng-href="/websiteimages/costumes/costumeid{{currentpage.globalsections.costumedetails.onecostume.id}}/{{currentpage.globalsections.costumedetails.onecostume.pictures[0].imagefilename}}" ng-if="currentpage.globalsections.costumedetails.onecostume.pictures[0].imagefilename">Voir</a>
                <a data-fancybox="{{currentpage.globalsections.costumedetails.onecostume.name}}" ng-href="/websiteimages/costumes/costumeid{{currentpage.globalsections.costumedetails.onecostume.id}}/{{currentpage.globalsections.costumedetails.onecostume.imagefilename}}" ng-if="!currentpage.globalsections.costumedetails.onecostume.pictures[0].imagefilename">Voir</a>
              </div>
              <div class="buttons" hidden>
                <span ng-repeat="onepicture in currentpage.globalsections.costumedetails.onecostume.pictures">
                  <a data-fancybox="{{currentpage.globalsections.costumedetails.onecostume.name}}" ng-href="/websiteimages/costumes/costumeid{{currentpage.globalsections.costumedetails.onecostume.id}}/{{onepicture.imagefilename}}" ng-if="$index!=0"></a>
                </span>
              </div>
            </div>
          </div>
        </figure>

    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">Filles ({{currentpage.globalsections.costumedetails.onecostume.girlamount != -1 ? currentpage.globalsections.costumedetails.onecostume.girlamount : 'Quantité inconnue'}})</h3>
        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="currentpage.globalsections.costumedetails.onecostume.girldescription"></p>
      </div>
      <div class="col-md-4">
        <h3 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">Garçons ({{currentpage.globalsections.costumedetails.onecostume.boyamount != -1 ? currentpage.globalsections.costumedetails.onecostume.boyamount : 'Quantité inconnue'}})</h3>
        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="currentpage.globalsections.costumedetails.onecostume.boydescription"></p>
      </div>
      <div class="col-md-4">
        <h3 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">Soliste ({{currentpage.globalsections.costumedetails.onecostume.soloamount != -1 ? currentpage.globalsections.costumedetails.onecostume.soloamount : 'Quantité inconnue'}})</h3>
        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind-html="currentpage.globalsections.costumedetails.onecostume.solodescription"></p>
      </div>
    </div>

  </div>
</section>

<!--
==================================================
    Partners Section Start
================================================== -->
<ng-include src="'../../../templates/partners.template.html'"></ng-include>

<!--
==================================================
Call To Action Section Start
================================================== -->
<ng-include src="'../../../templates/calltoaction.template.html'"></ng-include>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design et développement par <a href="http://jenial.jenial.ca" target="_blank">JeNiAl</a>.</p>
    </div>
  </div>
</footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="../../../plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="../../../plugins/form-validation/jquery.form.js"></script>
    <script src="../../../plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="../../../plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- bootstrap js -->
	<script src="../../../plugins/bootstrap/bootstrap.min.js"></script>
  <!-- angular js -->
	<script src="../../../plugins/angularJS/angular.min.js"></script>
	<!-- wow js -->
	<script src="../../../plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="../../../plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="../../../plugins/facncybox/jquery.fancybox.js"></script>
  <!-- Alertify -->
  <script type="text/javascript" src="../../../../dist/alertify.min.js"></script>
  <!-- angular JS module and controller -->
	<script src="../../../js/app.js"></script>
	<!-- template main js -->
	<script src="../../../js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
 	</body>
</html>
