<section id="intro" class="intro" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}" initmainsection>
  <row>
    <newleftpane leftpanetemplatefullpath="./preregistrationview/preregistration.template.html"></newleftpane>
    <div id="maincolumnright" class="col-xs-7 col-sm-10 maincolumnright">
      <div id="mainrowright" class="row mainrowright">
        <div class="grid">
          <displayerror></displayerror>
          <displaymaintitle maintitle="currentPreRegistration.firstname + ' ' + currentPreRegistration.lastname" defaulttitle="translationObj.main.formtitledetails" object="currentPreRegistration"></displaymaintitle>

          <main-save-button save-callback="saveToDB()" is-form-pristine="isFormPristine && !detailsForm.$dirty"></main-save-button>
          <main-delete-button delete-callback="deleteFromDB()"></main-delete-button>
					<button class="btn btn-primary" ng-click="copyPreRegistration()" ng-disabled="currentPreRegistration==null||detailsForm.$dirty">{{translationObj.main.buttontitlecopy}}</button>
					<button class="btn btn-primary" ng-click="markPreRegistration()" ng-disabled="currentPreRegistration==null||currentPreRegistration.treated==1||detailsForm.$dirty">{{translationObj.main.buttontitlemark}}</button>

          <form id="mainform" class="form-horizontal well mainsingleformnox" role="form" name="detailsForm" ng-show="currentPreRegistration">
            <div ng-include="'preregistrationview/preregistration.html'"></div>
          </form>

        </div>
      </div>
    </div>
  </row>
</section>
