<form class="form-horizontal" role="form" name="editObjForm">
  <div class="modal-header">
    <h4 class="modal-title">{{translationObj.newboardmember.formtitleeditarena}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-xs-10">
        <labelrequired for="firstname" label="translationObj.newboardmember.fieldtitlefirstname"></labelrequired>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" name="firstname" class="form-control" id="firstname" ng-model="newObj.firstname"
            maxlength="40" required>
        </div>
      </div>
      <div class="col-xs-10">
        <labelrequired for="lastname" label="translationObj.newboardmember.fieldtitlelastname"></labelrequired>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" name="lastname" class="form-control" id="lastname" ng-model="newObj.lastname"
            maxlength="40" required>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
      {{translationObj.newboardmember.formerrormessage}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newboardmember.buttontitlediscard}}</button>
    <button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newboardmember.buttontitlekeepchanges}}</button>
  </div>
</form>