<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newcharge.formtitleselectcharge}}</h4>
	</div>
	<div class="modal-body">
		<table width="100%" class="table table-striped">
			<tr>
				<th>{{translationObj.courses.fieldcode}}</th>
				<th>{{translationObj.courses.fieldlabel}}</th>
				<th>{{translationObj.courses.fieldtype}}</th>
				<th class="coursetablefeestd">{{translationObj.courses.fieldamount}}</th>
				<th></th>
			</tr>
			<tr ng-repeat="charge in currentRegistration.charges | filter : filterAdditionnalCharges" ng-click="onChargeSelected(charge)" style="cursor: pointer">
				<td width="10%">{{charge.code}}</td>
				<td width="20%">{{charge.label}}</td>
				<td width="10%">{{charge.typelabel}}</td>
				<td width="5%" class="coursetablefeestd">{{charge.amount | currency}}</td>
				<td width="5%" class="coursetableselectedtd"><span class='glyphicon glyphicon-ok' ng-show="charge.selected=='1'"></span></td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newcharge.buttontitlekeepchanges}}</button>
	</div>
</form>