<form class="form-horizontal" role="form" name="editObjForm">
	<div class="modal-header">
		<h4 class="modal-title">{{translationObj.newregistration.formtitle}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="col-xs-7">
				<labelrequired for="sessionid" label="translationObj.newregistration.fieldsession"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="sessionid" ng-model="newObj.session" disabled 
						ng-options="event as event.text for event in allSessionsAndShows" required>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<labelrequired for="registrationdate" label="translationObj.newregistration.fielddate"></labelrequired>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="date" name="registrationdate" class="form-control" id="registrationdate" ng-model="newObj.registrationdate" maxlength="14" required autofocus>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
			{{translationObj.newregistration.formerrormessage}}
		</div>
		<div class="alert alert-danger" id="editObjFieldInvalidDate" style="display:none;">
			{{translationObj.newregistration.formerrormessageinvaliddate}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newregistration.buttontitlediscard}}</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newregistration.buttontitlekeepchanges}}</button>
	</div>
</form>