<form class="form-horizontal" role="form" name="editObjForm">
  <div class="modal-header">
    <h4 class="modal-title">{{translationObj.newspecialdiscount.formtitle}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-xs-7">
        <labelrequired for="amount" label="translationObj.newspecialdiscount.fieldamount"></labelrequired>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
          <input type="text" name="amount" class="form-control" id="amount" ng-model="newObj.amount" ng-currency required autofocus>
        </div>
      </div>
      <div class="col-xs-10">
        <labelrequired for="comments" label="translationObj.newspecialdiscount.fieldcomments"></labelrequired>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
          <textarea name="comments" class="form-control" id="comments" ng-model="newObj.comments" maxlength="1024" required></textarea>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
      {{translationObj.newspecialdiscount.formerrormessage}}
    </div>
    <div class="alert alert-danger" id="editObjAmountOverZero" style="display:none;">
      {{translationObj.newspecialdiscount.formerrormessageamountoverzero}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">{{translationObj.newspecialdiscount.buttontitlediscard}}</button>
    <button type="submit" class="btn btn-primary" ng-click="ok()">{{translationObj.newspecialdiscount.buttontitlekeepchanges}}</button>
  </div>
</form>