<div class="form-group">
  <div class="col-xs-3">
    <label for="sessionname">{{translationObj.registration.fieldsession}}</label>
		<input type="text" name="sessionname" class="form-control" id="sessionname" ng-model="currentRegistration.sessionname" disabled>
  </div>
  <div class="col-xs-2">
    <label for="registrationdate">{{translationObj.registration.fielddate}}</label>
		<input type="date" name="registrationdate" class="form-control" id="registrationdate" ng-model="currentRegistration.registrationdate" disabled>
  </div>
  <div class="col-xs-3">
    <label for="firstname">{{translationObj.registration.fieldfirstname}}</label>
		<input type="text" name="firstname" class="form-control" id="firstname" ng-model="currentRegistration.member.firstname" disabled>
  </div>
  <div class="col-xs-4">
    <label for="lastname">{{translationObj.registration.fieldlastname}}</label>
    <input type="text" class="form-control" id="lastname" ng-model="currentRegistration.member.lastname" disabled>
  </div>
</div>
