<!DOCTYPE html>
<html class="no-js" ng-app="cpa_ws_admin" ng-controller="websiteCtrl" ng-init="init('contact', 'fr-ca')" ng-cloak>
<head>
  <script>
    var shiftWindow = function() { scrollBy(0, -110) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
  </script>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../images/logo_jenial.png" type="image/x-icon">
  <title ng-bind="currentpage.globalsections.footer.label"></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Template CSS Files
  ================================================== -->
  <!-- Twitter Bootstrs CSS -->
  <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css">
  <!-- Ionicons Fonts Css -->
  <link rel="stylesheet" href="../plugins/ionicons/ionicons.min.css">
  <!-- animate css -->
  <link rel="stylesheet" href="../plugins/animate-css/animate.css">
  <!-- Hero area slider css-->
  <link rel="stylesheet" href="../plugins/slider/slider.css">
  <!-- owl craousel css -->
  <link rel="stylesheet" href="../plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../plugins/owl-carousel/owl.theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="../plugins/facncybox/jquery.fancybox.css">
  <!-- Alertify -->
  <link rel="stylesheet" href="../../dist/alertify.core.css" />
	<link rel="stylesheet" href="../../dist/alertify.default.css" />
  <!-- template main css file -->
  <link rel="stylesheet" href="../css/style.css">
</head>
<body onload="load()">

<!--
==================================================
Main menu Section Start
================================================== -->
<ng-include src="'../templates/mainmenu.template.html'"></ng-include>

<!--
==================================================
Main header Section Start
================================================== -->
<ng-include src="'../templates/mainheader.template.html'"></ng-include>

<!--
==================================================
    Contact Section Start
================================================== -->
<section id="contact-section" ng-if="currentpage.globalsections.contactinfo">
  {{currentsection=currentpage.globalsections.contactinfo;""}}
  <div class="container">
    <ng-include src="'../templates/sectiontitle.template.html'"></ng-include>
    <ng-include src="'../templates/toplinks.template.html'"></ng-include>
    <ng-include src="'../templates/paragraph.template.html'"></ng-include>
    <ng-include src="'../templates/bottomlinks.template.html'"></ng-include>

    <div class="row">
      <div class="col-md-3">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
          <i class="ion-ios-location-outline"></i>
          <p>
            <b>{{currentpage.globalsections.contactinfo.contactinfo.label}}</b><br>
            {{currentpage.globalsections.contactinfo.contactinfo.address1}}<br>
            {{currentpage.globalsections.contactinfo.contactinfo.address2}}
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
          <i class="ion-ios-email-outline"></i>
          <p>
            {{currentpage.globalsections.contactinfo.contactinfo.email1}}<br>
            {{currentpage.globalsections.contactinfo.contactinfo.email2}}<br>
            &nbsp;
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
          <i class="ion-ios-telephone-outline"></i>
          <p>
            {{currentpage.globalsections.contactinfo.contactinfo.phone1}}<br>
            {{currentpage.globalsections.contactinfo.contactinfo.phone2}}<br>
            &nbsp;
          </p>
        </div>
      </div>
      <div class="col-md-3" ng-if="currentpage.globalsections.footer.facebookgroup">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
          <i class="ion-social-facebook-outline"></i>
          <p>
            <a ng-href="https://www.facebook.com/{{currentpage.globalsections.footer.facebookgroup}}">{{currentpage.globalsections.contactinfo.contactinfo.label}}</a><br>
            &nbsp;<br>
            &nbsp;
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".11s">
          <i class="ion-ios-grid-view-outline"></i>
          <p>
            <b>No patinage Canada</b><br>
            {{currentpage.globalsections.contactinfo.contactinfo.orgno}}<br>
            &nbsp;
          </p>
        </div>
      </div>
    </div>

  </div>
</section>


<!--
==================================================
    Arenas Section Start
================================================== -->
<section id="contact-section" ng-if="currentpage.globalsections.arenas">
  {{currentsection=currentpage.globalsections.arenas;""}}
  <div class="container">
    <ng-include src="'../templates/sectiontitle.template.html'"></ng-include>
    <ng-include src="'../templates/toplinks.template.html'"></ng-include>
    <ng-include src="'../templates/paragraph.template.html'"></ng-include>
    <ng-include src="'../templates/bottomlinks.template.html'"></ng-include>

    <div class="row">
      <div class="col-md-6" ng-repeat="onearena in currentpage.globalsections.arenas.arenas">
        <h2 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{onearena.arenalabel}}</h2>
        <p>{{onearena.address1}}<br>{{onearena.address2}}<p>
        <div class="map-area">
          <div class="map">
            <iframe width="100%" height="400" frameborder="0" style="border:0" allowfullscreen ng-src="{{onearena.link}}"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--
==================================================
    Partners Section Start
================================================== -->
<ng-include src="'../templates/partners.template.html'"></ng-include>

<!--
==================================================
Call To Action Section Start
================================================== -->
<ng-include src="'../templates/calltoaction.template.html'"></ng-include>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design et développement par <a href="http://www.jenial.ca" target="_blank">JeNiAl</a>.</p>
    </div>
  </div>
</footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="../plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="../plugins/form-validation/jquery.form.js"></script>
    <script src="../plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="../plugins/owl-carousel/owl.carousel.min.js"></script>
  <!-- bootstrap js -->
	<script src="../plugins/bootstrap/bootstrap.min.js"></script>
  <!-- angular js -->
	<script src="../plugins/angularJS/angular.min.js"></script>
	<!-- wow js -->
	<script src="../plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="../plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="../plugins/facncybox/jquery.fancybox.js"></script>
	<!-- template main js -->
	<script src="../js/main.js"></script>
  <!-- Alertify -->
  <script type="text/javascript" src="../../dist/alertify.min.js"></script>
  <!-- angular JS module and controler -->
	<script src="../js/app.js"></script>
  <!-- Remarkable -->
	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
 	</body>
</html>
