<!DOCTYPE html>
<html class="no-js" ng-app="cpa_ws_admin" ng-controller="websiteCtrl" ng-init="init('testsessiondetails', 'fr-ca')">
<head>
  <script>
    var shiftWindow = function() { scrollBy(0, -110) };
    window.addEventListener("hashchange", shiftWindow);
    function load() {
      if (window.location.hash) {
        shiftWindow();
      }
    }
  </script>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../images/logo_jenial.png" type="image/x-icon">
  <title ng-bind="currentpage.globalsections.footer.label"></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Template CSS Files
  ================================================== -->
  <!-- Twitter Bootstrs CSS -->
  <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css">
  <!-- Ionicons Fonts Css -->
  <link rel="stylesheet" href="../plugins/ionicons/ionicons.min.css">
  <!-- animate css -->
  <link rel="stylesheet" href="../plugins/animate-css/animate.css">
  <!-- Hero area slider css-->
  <link rel="stylesheet" href="../plugins/slider/slider.css">
  <!-- owl craousel css -->
  <link rel="stylesheet" href="../plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../plugins/owl-carousel/owl.theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="../plugins/facncybox/jquery.fancybox.css">
  <!-- angular Busy -->
  <link rel="stylesheet" href="../plugins/angularBusy/angular-busy.css">
  <!-- Alertify -->
  <link rel="stylesheet" href="../../dist/alertify.core.css" />
	<link rel="stylesheet" href="../../dist/alertify.default.css" />
  <!-- template main css file -->
  <link rel="stylesheet" href="../css/style.css">
</head>
<body onload="load()">

<!--
==================================================
Main menu Section Start
================================================== -->
<ng-include src="'../templates/mainmenu.template.html'"></ng-include>

<!--
==================================================
Main header Section Start
================================================== -->
<ng-include src="'../templates/mainheader.template.html'"></ng-include>

<!--
==================================================
Tests Session Details Section Start
================================================== -->
<section id="team" ng-if="currentpage.globalsections.testsessiondetails">
  {{currentsection=currentpage.globalsections.testsessiondetails;""}}
  <div class="container">
    <div class="row">
      <ng-include src="'../templates/sectiontitle.template.html'"></ng-include>
      <ng-include src="'../templates/toplinks.template.html'"></ng-include>
      <ng-include src="'../templates/paragraph.template.html'"></ng-include>
      <ng-include src="'../templates/bottomlinks.template.html'"></ng-include>

      <div class="col-xs-12 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
        <h3>{{currentpage.globalsections.testsessiondetails.onetestsession.label}}
          <span ng-if="currentpage.globalsections.testsessiondetails.onetestsession.isClosed"><font color="red">(fermée)</font></span>
          <span ng-if="!currentpage.globalsections.testsessiondetails.onetestsession.isClosed && currentpage.globalsections.testsessiondetails.onetestsession.canRegister"><font color="red">(Accepte les inscriptions)</font></span>
          <span ng-if="!currentpage.globalsections.testsessiondetails.onetestsession.isClosed && !currentpage.globalsections.testsessiondetails.onetestsession.canRegister"><font color="red">(Inscriptions terminées)</font></span>
        </h3>
        <table width="50%" border="0">
          <tr>
            <th colspan="2">Dates importantes</th>
          </tr>
          <tr>
            <td width="60%">Date de début d'inscription</td><td>{{currentpage.globalsections.testsessiondetails.onetestsession.registrationstartdate}}</td>
          </tr>
          <tr>
            <td>Date de fin d'inscription</td><td>{{currentpage.globalsections.testsessiondetails.onetestsession.registrationenddate}}</td>
          </tr>
          <tr>
            <td>Date de fin d'annulation</td><td>{{currentpage.globalsections.testsessiondetails.onetestsession.cancellationenddate}}</td>
          </tr>
        </table><br>
				<table width="50%" border="0">
					<tr>
            <th colspan="2">Frais</th>
          </tr>
          <tr ng-repeat="charge in currentpage.globalsections.testsessiondetails.onetestsession.charges">
            <td width="60%">{{charge.chargelabel}}</td>
            <td>{{charge.amount}}</td>
          </tr>
					<tr>
            <td>Option frais additionnels</th>
            <td>{{currentpage.globalsections.testsessiondetails.onetestsession.extrafeesoptionlabel}}</th>
          </tr>
        </table><br>

        <a ng-href="../../app/reports/testSessionSchedule.php?language={{language}}&testsessionid={{currentpage.globalsections.testsessiondetails.onetestsession.id}}" target="_blank" ng-if="currentpage.globalsections.testsessiondetails.onetestsession.publishschedule==1">Ouvrir l'horaire en PDF</a>

        <form>
          <div ng-repeat="period in currentpage.globalsections.testsessiondetails.onetestsession.periods">
            <h3>Période {{$index + 1}} - {{period.periodlabel}}</h3>
            <div class="row">
              <div class="col-xs-12">
                <a ng-href="../../app/index.html#!/testperiodfollowview/testsessionid/{{currentpage.globalsections.testsessiondetails.onetestsession.id}}/testperiodid/{{period.id}}" target="_blank" ng-if="!currentpage.globalsections.testsessiondetails.onetestsession.isClosed && currentpage.globalsections.testsessiondetails.onetestsession.publishschedule==1">Suivre la période durant son déroulement</a>
              </div>
            </div>

            <form>
              <div ng-repeat="group in period.groups">
                <div class="row">
                  <div class="col-xs-5">
                    <h4>Groupe {{group.grouplabel}} {{group.grouplabel == null || group.grouplabel == '' ? group.testtypelabel + ' ' + (group.testtype == 'DANCE' ? group.testlevellabel : '') + ' ' + group.testlabel : ''}}</h4>
                  </div>
                  <div class="col-xs-2">
                    <h4>{{group.starttime}}</h4>
                  </div>
                </div>

                <div id="{{group.id}}" class="collapse in">
                  <form >
                    <div id="childform1">
                      <li ng-repeat="skater in group.skaters">{{skater.firstname}} {{skater.lastname}}</li>
                    </div>
                  </form>
                </div>

              </div>
            </form>

          </div>
        </form>
      </div>
    </div>

  </div>
</section>

<!--
==================================================
    Partners Section Start
================================================== -->
<ng-include src="'../templates/partners.template.html'"></ng-include>

<!--
==================================================
Call To Action Section Start
================================================== -->
<ng-include src="'../templates/calltoaction.template.html'"></ng-include>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="copyright">Copyright: <span><script>document.write(new Date().getFullYear())</script></span> Design et développement par <a href="http://www.jenial.ca" target="_blank">JeNiAl</a>.</p>
    </div>
  </div>
</footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="../plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="../plugins/form-validation/jquery.form.js"></script>
    <script src="../plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="../plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- bootstrap js -->
	<script src="../plugins/bootstrap/bootstrap.min.js"></script>
  <!-- angular js -->
	<script src="../plugins/angularJS/angular.min.js"></script>
	<!-- wow js -->
	<script src="../plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="../plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="../plugins/facncybox/jquery.fancybox.js"></script>
  <!-- Alertify -->
  <script type="text/javascript" src="../../dist/alertify.min.js"></script>
  <!-- angular JS module and controller -->
	<script src="../js/app.js"></script>
	<!-- template main js -->
	<script src="../js/main.js"></script>
  <!-- Remarkable -->
	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
 	</body>
</html>
