<div id="maincolumnleft" class="col-xs-5 col-sm-2 maincolumnleft">
	<div id="leftformgroup" class="row leftformgroup">
		<div class="visible-xs visible-sm visible-md">
			<h5>{{translationObj.leftPane.maintitle}} ({{results.length}})</h5>
		</div>
		<div class="visible-lg">
			<h3>{{translationObj.leftPane.maintitle}} ({{results.length}})</h3>
		</div>
		<div class="row">
			<div class="col-xs-11">
				<input id="searchinput" type="search" class="form-control" ng-model="searchFilter" placeholder="{{translationObj.leftPane.mainfilter}}" aria-label="{{translationObj.leftPane.mainfilter}}">
				<span id="searchclear" class="glyphicon glyphicon-remove-circle" clear-search-button></span>
			</div>
		</div>
		<button class="btn btn-primary glyphicon glyphicon-refresh" main-refresh-button	callback="refreshAll()" data-toggle="tooltip" title="{{translationObj.leftpane.tooltiprefresh}}"></button>
		<button class="btn btn-primary glyphicon glyphicon-filter" main-filter-button callback="mainFilter(false)" ng-if="newFilter.filterApplied==false" data-toggle="tooltip" title="{{translationObj.leftpane.tooltipapplyfilter}}"></button>
		<button class="btn btn-primary glyphicon glyphicon-filter" main-filter-button callback="mainFilter(false)" ng-if="newFilter.filterApplied==true" data-toggle="tooltip" title="{{translationObj.leftpane.tooltipapplyfilter}}" style="color:red"></button>
		<button class="btn btn-primary glyphicon glyphicon-ban-circle" main-filter-button callback="mainFilter(true)" ng-if="newFilter.filterApplied==true" data-toggle="tooltip" title="{{translationObj.leftpane.tooltipremovefilter}}"></button>
		<div id="leftselector" class="row leftselectorrow">
			<div ng-repeat="leftobj in leftobjs | filter:searchFilter:customSearch as results">
				<div class="callout"
					ng-class="{ 'selected-class-name': (selectedIndex && $index == selectedIndex) || (selectedLeftObj && leftobj === selectedLeftObj)}"
					ng-click="this.setCurrent(leftobj, $index)">
					<div ng-include="leftpanetemplatefullpath"></div>
				</div>
			</div>
			<div class="animate-repeat" ng-if="results.length == 0">
				<li><strong>{{translationObj.leftPane.noresult}}</strong></li>
			</div>
		</div>
	</div>
</div>