<div class="modal-header">
  <h4 class="modal-title">{{translationObj.editcodegroup.formtitleeditcodegroup}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="editObjForm">
    <div class="form-group row">

	    <div class="col-xs-4">
	      <label for="code">{{translationObj.editcodegroup.fieldtitlecode}}</label>
	    	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="ctname" class="form-control" id="code" ng-model="newObj.code" maxlength="30" required>
					<span ng-show="editObjForm.ctname.$touched && editObjForm.ctname.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
	    </div>

      <div class="col-xs-6">
	      <label for="label_en">{{translationObj.editcodegroup.fieldtitleenglishlabel}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	        <input type="text" class="form-control" id="codegroup" ng-model="newObj.label_en" maxlength="200" required>
	        <span ng-show="editObjForm.label_en.$touched && editObjForm.label_en.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
      </div>

      <div class="col-xs-6">
	      <label for="label_fr">{{translationObj.editcodegroup.fieldtitlefrenchlabel}}</label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	        <input type="text" class="form-control" id="codegroup" ng-model="newObj.label_fr" maxlength="200" required>
	        <span ng-show="editObjForm.label_fr.$touched && editObjForm.label_fr.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
	      </div>
      </div>

    </div>
  </form>
  <div class="alert alert-danger" id="editObjFieldMandatory" style="display:none;">
    {{translationObj.editcodegroup.formerrormessage}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="butEditCodegroupFormCancel" class="btn btn-primary" ng-click="cancel()"	>{{translationObj.editcodegroup.buttontitlediscard}}</button>
  <button type="button" id="butEditCodegroupFormOk" 		class="btn btn-primary" ng-click="ok()"			>{{translationObj.editcodegroup.buttontitlekeepchanges}}</button>
</div>
