<!-- <h4>{{currentCourseDetails.courselabel}} ({{currentCourseDetails.name}}) {{currentCourseDetails.text}}</h4> -->
<!-- <h4>{{currentCourseDetails.courselabel}} ({{currentCourseDetails.name}})</h4>
{{currentCourseDetails.coursedatetime}}<br>
{{currentCourseDetails.courselocation}} -->
<!-- <span><button class="btn btn-primary glyphicon glyphicon-refresh" main-refresh-button callback="refreshAll()"></button></span> -->
<div class="form-group row">
	<div class="grid">
		<div ng-repeat="member in currentCourseattendance">
			<div class="row">
				<div class="col-xs-8 col-md-3" >
<!--					<input type="text" class="form-control" value="{{member.firstname}} {{member.lastname}}" disabled style="text-align: right"> !-->
					<input type="text" class="form-control" value="{{member.firstname}}&nbsp;{{member.lastname}}&nbsp;({{member.nbpresence}}&nbsp;-&nbsp;{{member.nbofcourses/1-member.nbpresence/1}})" disabled style="text-align: right">
				</div>
				<div class="col-xs-3 col-md-3" ng-if="member.paidinfull == 1">
					<toggle ng-model="member.ispresent" ng-change="onPresenceChange(member)" on="Présent" off="absent" onstyle='btn-primary' offstyle="btn-danger" toggle-class="quick" width="84" ></toggle><br>
				</div>
				<div class="col-xs-3 col-md-3" ng-if="member.paidinfull == 0">
					$<br>
				</div>
			</div>
		</div>

		<h4>{{translationObj.attendance.formtitlestaff}}</h4>
		<div ng-repeat="member in currentCourseattendanceStaff">
			<div class="row">
				<div class="col-xs-7 col-md-3" >
					<input type="text" class="form-control" value="{{member.firstname}} {{member.lastname}}" disabled style="text-align: right">
				</div>
				<div class="col-xs-4 col-md-3">
					<presence-multistate-button obj="member" state="member.ispresent" statelist="presencetypes" callback="saveToDB(member, newPresence)"></presence-multistate-button>
				</div>
			</div>
		</div>

		<h4>{{translationObj.attendance.formtitlestaffrepl}}</h4>
		<div ng-repeat="member in currentCourseattendanceStaffrepl">
			<div class="row">
				<div class="col-xs-7 col-md-3" >
					<input type="text" class="form-control" value="{{member.firstname}} {{member.lastname}}" disabled style="text-align: right">
				</div>
				<div class="col-xs-4 col-md-3">
					<presence-multistate-button obj="member" state="member.ispresent" statelist="presencetypes" callback="saveToDB(member, newPresence)"></presence-multistate-button>
				</div>
			</div>
		</div>

  </div>
</div>
