<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.details.formtitlemaininfo}}</h3>
		<div class="row">
			<div class="col-xs-4">
				<label for="firstname">{{translationObj.details.fieldtitlefirstname}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="firstname" class="form-control" id="firstname"
						ng-model="currentWsprogramassistant.firstname" maxlength="40" required>
				</div>
			</div>
			<div class="col-xs-4">
				<label for="lastname">{{translationObj.details.fieldtitlelastname}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input type="text" name="lastname" class="form-control" id="lastname"
						ng-model="currentWsprogramassistant.lastname" maxlength="40" required>
				</div>
			</div>
			<div class="col-xs-2">
				<label for="publish">{{translationObj.details.fieldtitlepublish}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
					<select class="form-control" id="publish" ng-model="currentWsprogramassistant.publish" required>
						<option ng-repeat="yesno in yesnos" value="{{yesno.code}}">{{yesno.text}}</option>
					</select>
				</div>
			</div>
		</div>

		<displaywebsiteimage 
			displayimagefilename="'programassistants/'+currentWsprogramassistant.displayimagefilename"
			imageinfo="currentWsprogramassistant.imageinfo">
		</displaywebsiteimage>
		<div class="row">
			<div class="col-xs-12">
				<uploadwebsiteimagebutton 
					subdirectory="'/website/images/programassistants/'" 
					fileprefix="currentWsprogramassistant.firstname + '_' + currentWsprogramassistant.lastname" 
					tablename="'cpa_ws_programassistants'" 
					id="currentWsprogramassistant.id"
					oldfilename="currentWsprogramassistant.imagefilename"
					callback="setCurrentInternal(currentWsprogramassistant)" is-disabled="!isFormPristine || detailsForm.$dirty">
				</uploadwebsiteimagebutton>&nbsp;
				<deletewebsiteimagebutton 
					subdir="'programassistants'" context="'ws_programassistants'" obj="currentWsprogramassistant" 
					callback="setCurrentInternal(currentWsprogramassistant)" is-disabled="!currentWsprogramassistant.imagefilename">
				</deletewebsiteimagebutton>
			</div>
		</div>
	</div>

</div>