<div class="form-group row">
	<div class="grid">
    <h3>{{translationObj.board.formtitlemaininformation}}</h3>
		<h4>{{translationObj.board.formtitlepresident}}</h4>
		<div class="row">
      <div class="col-xs-4">
	      <label for="presidentfirstname">{{translationObj.board.fieldtitlepresidentfirstname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="presidentfirstname" class="form-control" id="presidentfirstname" ng-model="currentConfiguration.presidentfirstname" maxlength="60" required>
	      </div>
	    </div>
      <div class="col-xs-4">
	      <label for="presidentlastname">{{translationObj.board.fieldtitlepresidentlastname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="presidentlastname" class="form-control" id="presidentlastname" ng-model="currentConfiguration.presidentlastname" maxlength="60" required>
	      </div>
	    </div>
      <div class="col-xs-4">
	      <label for="presidentemail">{{translationObj.board.fieldtitlepresidentemail}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="presidentemail" class="form-control" id="presidentemail" ng-model="currentConfiguration.presidentemail" maxlength="250" required>
	      </div>
	    </div>
    </div>
		<hr><h4>{{translationObj.board.formtitletestdirector}}</h4>
		<div class="row">
      <div class="col-xs-4">
	      <label for="testdirfirstname">{{translationObj.board.fieldtitletestdirfirstname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="testdirfirstname" class="form-control" id="testdirfirstname" ng-model="currentConfiguration.testdirfirstname" maxlength="60" required>
	      </div>
	    </div>
      <div class="col-xs-4">
	      <label for="testdirlastname">{{translationObj.board.fieldtitletestdirlastname}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="testdirlastname" class="form-control" id="testdirlastname" ng-model="currentConfiguration.testdirlastname" maxlength="60" required>
	      </div>
	    </div>
			<div class="col-xs-4">
	      <label for="testdirlastname">{{translationObj.board.fieldtitletestdiremail}}<i style="color:red"> *</i></label>
      	<div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="testdiremail" class="form-control" id="testdiremail" ng-model="currentConfiguration.testdiremail" maxlength="250" required>
	      </div>
	    </div>
    </div>

  </div>
</div>
