<div class="form-group row">
	<div class="grid">
		<h3>{{translationObj.paypal.formtitlepaypalconfig}}</h3>
		<div class="row">
			<div class="col-xs-2">
				<div class="input-group">
					<label><input type="checkbox" id='paypal_usesandbox' ng-model="currentConfiguration.paypal_usesandbox" ng-true-value="'1'" >&nbsp;{{translationObj.paypal.fieldtitleusesandbox}}</label>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- client ID -->
			<div class="col-xs-4">
				<label for="oauthclientid">{{translationObj.paypal.fieldtitleclientid}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" id="paypal_clientid" ng-model="currentConfiguration.paypal_clientid" maxlength="250">
				</div>
			</div>
			<!-- client secret -->
			<div class="col-xs-4">
				<label for="oauthclientsecret">{{translationObj.paypal.fieldtitleclientsecret}}<i style="color:red"> *</i></label>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="password" class="form-control" id="paypal_clientsecret" ng-model="currentConfiguration.paypal_clientsecret" maxlength="250">
				</div>
			</div>
		</div>
		<paypalcheckout purchase="purchase" is-form-pristine="isFormPristine && !paypalForm.$dirty"></paypalcheckout>
	</div>
</div>
